# 리스트
여러 값들을 하나로 묶어주는 자료형. 여러 값을 원하는 순서대로 보관할 수 있음

In [1]:
numbers = [2, 3, 5, 7, 11, 13]
names = ["윤수", "혜린", "태호", "영훈"]

In [2]:
numbers

[2, 3, 5, 7, 11, 13]

In [3]:
names

['윤수', '혜린', '태호', '영훈']

In [5]:
# 리스트의 요소 출력 : 인덱싱
print(names[0])

윤수

In [6]:
numbers[1] + numbers[3]

10

In [7]:
num_1 = numbers[1]
num_3 = numbers[3]
num_1 + num_3

10

In [11]:
# 마이너스 인덱싱: 끝에서 부터 순서
numbers[-1]

13

In [12]:
numbers[-6]

2

In [13]:
# 리스트 슬라이싱 : 범위를 지정하여 여러요소 한번에 가져오기
numbers[0:4]

[2, 3, 5, 7]

In [14]:
numbers[2:] # 숫자 비워둘 시 처음 혹은 끝을 의미

[5, 7, 11, 13]

In [15]:
numbers[:3] #[x:y] x번부터 ~ y-1번까지 반환

[2, 3, 5]

In [16]:
# 리스트 요소 수정/재저장
numbers[0]

2

In [18]:
numbers[0] = 7
numbers

[7, 3, 5, 7, 11, 13]

**리스트 반복문 실습**

In [57]:
#문자열 인덱싱
Y = 201901
str(Y)[-4:]

'1901'

In [58]:
#문자열 인덱싱 이용해 코드문 출력함수 만들기
#2019년
Y = 201901
v = 'fmcg_ltsnack'

while Y <= 201912 :
    print(f", sum(case when sales_mm = {Y} then {v} else 0 end) as {v}_{str(Y)[-4:]}")
    Y += 1

, sum(case when sales_mm = 201901 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1901
, sum(case when sales_mm = 201902 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1902
, sum(case when sales_mm = 201903 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1903
, sum(case when sales_mm = 201904 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1904
, sum(case when sales_mm = 201905 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1905
, sum(case when sales_mm = 201906 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1906
, sum(case when sales_mm = 201907 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1907
, sum(case when sales_mm = 201908 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1908
, sum(case when sales_mm = 201909 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1909
, sum(case when sales_mm = 201910 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1910
, sum(case when sales_mm = 201911 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1911
, sum(case when sales_mm = 201912 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1912

In [59]:
#2020년
Y = 202001
v = 'fmcg_ltsnack'

while Y <= 202012 :
    print(f", sum(case when sales_mm = {Y} then {v} else 0 end) as {v}_{str(Y)[-4:]}")
    Y += 1

, sum(case when sales_mm = 202001 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2001
, sum(case when sales_mm = 202002 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2002
, sum(case when sales_mm = 202003 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2003
, sum(case when sales_mm = 202004 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2004
, sum(case when sales_mm = 202005 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2005
, sum(case when sales_mm = 202006 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2006
, sum(case when sales_mm = 202007 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2007
, sum(case when sales_mm = 202008 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2008
, sum(case when sales_mm = 202009 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2009
, sum(case when sales_mm = 202010 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2010
, sum(case when sales_mm = 202011 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2011
, sum(case when sales_mm = 202012 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2012

In [60]:
#2021년
Y = 202101
v = 'fmcg_ltsnack'

while Y <= 202110 :  # 21년은 10월까지만
    print(f", sum(case when sales_mm = {Y} then {v} else 0 end) as {v}_{str(Y)[-4:]}")
    Y += 1

, sum(case when sales_mm = 202101 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2101
, sum(case when sales_mm = 202102 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2102
, sum(case when sales_mm = 202103 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2103
, sum(case when sales_mm = 202104 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2104
, sum(case when sales_mm = 202105 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2105
, sum(case when sales_mm = 202106 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2106
, sum(case when sales_mm = 202107 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2107
, sum(case when sales_mm = 202108 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2108
, sum(case when sales_mm = 202109 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2109
, sum(case when sales_mm = 202110 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2110

In [61]:
#19년 1월부터 21년 11월까지 한번에 출력하기
Y = 19
while Y <= 21 :
    MM = int(f"20{Y}01")
    while MM <= int(f"20{Y}12") :
        print(f", sum(case when sales_mm = {MM} then {v} else 0 end) as {v}_{str(MM)[-4:]}")
        MM += 1
        if MM == 202111 :
            break
    Y += 1

, sum(case when sales_mm = 201901 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1901
, sum(case when sales_mm = 201902 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1902
, sum(case when sales_mm = 201903 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1903
, sum(case when sales_mm = 201904 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1904
, sum(case when sales_mm = 201905 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1905
, sum(case when sales_mm = 201906 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1906
, sum(case when sales_mm = 201907 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1907
, sum(case when sales_mm = 201908 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1908
, sum(case when sales_mm = 201909 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1909
, sum(case when sales_mm = 201910 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1910
, sum(case when sales_mm = 201911 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1911
, sum(case when sales_mm = 201912 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1912
, sum(case when sales_mm = 202001 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2001
, sum(case when sales_mm = 202002 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2002
, sum(case when sales_mm = 202003 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2003
, sum(case when sales_mm = 202004 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2004
, sum(case when sales_mm = 202005 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2005
, sum(case when sales_mm = 202006 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2006
, sum(case when sales_mm = 202007 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2007
, sum(case when sales_mm = 202008 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2008
, sum(case when sales_mm = 202009 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2009
, sum(case when sales_mm = 202010 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2010
, sum(case when sales_mm = 202011 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2011
, sum(case when sales_mm = 202012 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2012
, sum(case when sales_mm = 202101 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2101
, sum(case when sales_mm = 202102 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2102
, sum(case when sales_mm = 202103 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2103
, sum(case when sales_mm = 202104 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2104
, sum(case when sales_mm = 202105 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2105
, sum(case when sales_mm = 202106 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2106
, sum(case when sales_mm = 202107 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2107
, sum(case when sales_mm = 202108 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2108
, sum(case when sales_mm = 202109 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2109
, sum(case when sales_mm = 202110 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2110

In [62]:
# 모든 열이름 포함해서 전부 한번에 출력하기
# 리스트에 열 이름 저장해서, 반복문 이용
c = ["fmcg_amt6","fmcg_ltsnack","fmcg_amt"]
for v in c :
    Y = 19
    while Y <= 21 :
        MM = int(f"20{Y}01")
        while MM <= int(f"20{Y}12") :
            if v == "fmcg_amt6" :
                print(f", sum(case when sales_mm = {MM} then {v} else 0 end) as fmcg_snack_{str(MM)[-4:]}")
            else :    
                print(f", sum(case when sales_mm = {MM} then {v} else 0 end) as {v}_{str(MM)[-4:]}")
            MM += 1
            if MM == 202111 :
                break
        Y += 1

, sum(case when sales_mm = 201901 then fmcg_amt6 else 0 end) as fmcg_snack_1901
, sum(case when sales_mm = 201902 then fmcg_amt6 else 0 end) as fmcg_snack_1902
, sum(case when sales_mm = 201903 then fmcg_amt6 else 0 end) as fmcg_snack_1903
, sum(case when sales_mm = 201904 then fmcg_amt6 else 0 end) as fmcg_snack_1904
, sum(case when sales_mm = 201905 then fmcg_amt6 else 0 end) as fmcg_snack_1905
, sum(case when sales_mm = 201906 then fmcg_amt6 else 0 end) as fmcg_snack_1906
, sum(case when sales_mm = 201907 then fmcg_amt6 else 0 end) as fmcg_snack_1907
, sum(case when sales_mm = 201908 then fmcg_amt6 else 0 end) as fmcg_snack_1908
, sum(case when sales_mm = 201909 then fmcg_amt6 else 0 end) as fmcg_snack_1909
, sum(case when sales_mm = 201910 then fmcg_amt6 else 0 end) as fmcg_snack_1910
, sum(case when sales_mm = 201911 then fmcg_amt6 else 0 end) as fmcg_snack_1911
, sum(case when sales_mm = 201912 then fmcg_amt6 else 0 end) as fmcg_snack_1912
, sum(case when sales_mm = 202001 then fmcg_amt6 else 0 end) as fmcg_snack_2001
, sum(case when sales_mm = 202002 then fmcg_amt6 else 0 end) as fmcg_snack_2002
, sum(case when sales_mm = 202003 then fmcg_amt6 else 0 end) as fmcg_snack_2003
, sum(case when sales_mm = 202004 then fmcg_amt6 else 0 end) as fmcg_snack_2004
, sum(case when sales_mm = 202005 then fmcg_amt6 else 0 end) as fmcg_snack_2005
, sum(case when sales_mm = 202006 then fmcg_amt6 else 0 end) as fmcg_snack_2006
, sum(case when sales_mm = 202007 then fmcg_amt6 else 0 end) as fmcg_snack_2007
, sum(case when sales_mm = 202008 then fmcg_amt6 else 0 end) as fmcg_snack_2008
, sum(case when sales_mm = 202009 then fmcg_amt6 else 0 end) as fmcg_snack_2009
, sum(case when sales_mm = 202010 then fmcg_amt6 else 0 end) as fmcg_snack_2010
, sum(case when sales_mm = 202011 then fmcg_amt6 else 0 end) as fmcg_snack_2011
, sum(case when sales_mm = 202012 then fmcg_amt6 else 0 end) as fmcg_snack_2012
, sum(case when sales_mm = 202101 then fmcg_amt6 else 0 end) as fmcg_snack_2101
, sum(case when sales_mm = 202102 then fmcg_amt6 else 0 end) as fmcg_snack_2102
, sum(case when sales_mm = 202103 then fmcg_amt6 else 0 end) as fmcg_snack_2103
, sum(case when sales_mm = 202104 then fmcg_amt6 else 0 end) as fmcg_snack_2104
, sum(case when sales_mm = 202105 then fmcg_amt6 else 0 end) as fmcg_snack_2105
, sum(case when sales_mm = 202106 then fmcg_amt6 else 0 end) as fmcg_snack_2106
, sum(case when sales_mm = 202107 then fmcg_amt6 else 0 end) as fmcg_snack_2107
, sum(case when sales_mm = 202108 then fmcg_amt6 else 0 end) as fmcg_snack_2108
, sum(case when sales_mm = 202109 then fmcg_amt6 else 0 end) as fmcg_snack_2109
, sum(case when sales_mm = 202110 then fmcg_amt6 else 0 end) as fmcg_snack_2110
, sum(case when sales_mm = 201901 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1901
, sum(case when sales_mm = 201902 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1902
, sum(case when sales_mm = 201903 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1903
, sum(case when sales_mm = 201904 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1904
, sum(case when sales_mm = 201905 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1905
, sum(case when sales_mm = 201906 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1906
, sum(case when sales_mm = 201907 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1907
, sum(case when sales_mm = 201908 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1908
, sum(case when sales_mm = 201909 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1909
, sum(case when sales_mm = 201910 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1910
, sum(case when sales_mm = 201911 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1911
, sum(case when sales_mm = 201912 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1912
, sum(case when sales_mm = 202001 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2001
, sum(case when sales_mm = 202002 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2002
, sum(case when sales_mm = 202003 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2003
, sum(case when sales_mm = 202004 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2004
, sum(case when sales_mm = 202005 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2005
, sum(case when sales_mm = 202006 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2006
, sum(case when sales_mm = 202007 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2007
, sum(case when sales_mm = 202008 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2008
, sum(case when sales_mm = 202009 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2009
, sum(case when sales_mm = 202010 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2010
, sum(case when sales_mm = 202011 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2011
, sum(case when sales_mm = 202012 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2012
, sum(case when sales_mm = 202101 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2101
, sum(case when sales_mm = 202102 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2102
, sum(case when sales_mm = 202103 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2103
, sum(case when sales_mm = 202104 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2104
, sum(case when sales_mm = 202105 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2105
, sum(case when sales_mm = 202106 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2106
, sum(case when sales_mm = 202107 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2107
, sum(case when sales_mm = 202108 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2108
, sum(case when sales_mm = 202109 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2109
, sum(case when sales_mm = 202110 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2110
, sum(case when sales_mm = 201901 then fmcg_amt else 0 end) as fmcg_amt_1901
, sum(case when sales_mm = 201902 then fmcg_amt else 0 end) as fmcg_amt_1902
, sum(case when sales_mm = 201903 then fmcg_amt else 0 end) as fmcg_amt_1903
, sum(case when sales_mm = 201904 then fmcg_amt else 0 end) as fmcg_amt_1904
, sum(case when sales_mm = 201905 then fmcg_amt else 0 end) as fmcg_amt_1905
, sum(case when sales_mm = 201906 then fmcg_amt else 0 end) as fmcg_amt_1906
, sum(case when sales_mm = 201907 then fmcg_amt else 0 end) as fmcg_amt_1907
, sum(case when sales_mm = 201908 then fmcg_amt else 0 end) as fmcg_amt_1908
, sum(case when sales_mm = 201909 then fmcg_amt else 0 end) as fmcg_amt_1909
, sum(case when sales_mm = 201910 then fmcg_amt else 0 end) as fmcg_amt_1910
, sum(case when sales_mm = 201911 then fmcg_amt else 0 end) as fmcg_amt_1911
, sum(case when sales_mm = 201912 then fmcg_amt else 0 end) as fmcg_amt_1912
, sum(case when sales_mm = 202001 then fmcg_amt else 0 end) as fmcg_amt_2001
, sum(case when sales_mm = 202002 then fmcg_amt else 0 end) as fmcg_amt_2002
, sum(case when sales_mm = 202003 then fmcg_amt else 0 end) as fmcg_amt_2003
, sum(case when sales_mm = 202004 then fmcg_amt else 0 end) as fmcg_amt_2004
, sum(case when sales_mm = 202005 then fmcg_amt else 0 end) as fmcg_amt_2005
, sum(case when sales_mm = 202006 then fmcg_amt else 0 end) as fmcg_amt_2006
, sum(case when sales_mm = 202007 then fmcg_amt else 0 end) as fmcg_amt_2007
, sum(case when sales_mm = 202008 then fmcg_amt else 0 end) as fmcg_amt_2008
, sum(case when sales_mm = 202009 then fmcg_amt else 0 end) as fmcg_amt_2009
, sum(case when sales_mm = 202010 then fmcg_amt else 0 end) as fmcg_amt_2010
, sum(case when sales_mm = 202011 then fmcg_amt else 0 end) as fmcg_amt_2011
, sum(case when sales_mm = 202012 then fmcg_amt else 0 end) as fmcg_amt_2012
, sum(case when sales_mm = 202101 then fmcg_amt else 0 end) as fmcg_amt_2101
, sum(case when sales_mm = 202102 then fmcg_amt else 0 end) as fmcg_amt_2102
, sum(case when sales_mm = 202103 then fmcg_amt else 0 end) as fmcg_amt_2103
, sum(case when sales_mm = 202104 then fmcg_amt else 0 end) as fmcg_amt_2104
, sum(case when sales_mm = 202105 then fmcg_amt else 0 end) as fmcg_amt_2105
, sum(case when sales_mm = 202106 then fmcg_amt else 0 end) as fmcg_amt_2106
, sum(case when sales_mm = 202107 then fmcg_amt else 0 end) as fmcg_amt_2107
, sum(case when sales_mm = 202108 then fmcg_amt else 0 end) as fmcg_amt_2108
, sum(case when sales_mm = 202109 then fmcg_amt else 0 end) as fmcg_amt_2109
, sum(case when sales_mm = 202110 then fmcg_amt else 0 end) as fmcg_amt_2110