# 리스트
여러 값들을 하나로 묶어주는 자료형. 여러 값을 원하는 순서대로 보관할 수 있음

In [1]:
numbers = [2, 3, 5, 7, 11, 13]
names = ["윤수", "혜린", "태호", "영훈"]

In [2]:
numbers

[2, 3, 5, 7, 11, 13]

In [3]:
names

['윤수', '혜린', '태호', '영훈']

In [5]:
# 리스트의 요소 출력 : 인덱싱
print(names[0])

윤수

In [6]:
numbers[1] + numbers[3]

10

In [7]:
num_1 = numbers[1]
num_3 = numbers[3]
num_1 + num_3

10

In [11]:
# 마이너스 인덱싱: 끝에서 부터 순서
numbers[-1]

13

In [12]:
numbers[-6]

2

In [13]:
# 리스트 슬라이싱 : 범위를 지정하여 여러요소 한번에 가져오기
numbers[0:4]

[2, 3, 5, 7]

In [14]:
numbers[2:] # 숫자 비워둘 시 처음 혹은 끝을 의미

[5, 7, 11, 13]

In [15]:
numbers[:3] #[x:y] x번부터 ~ y-1번까지 반환

[2, 3, 5]

In [16]:
# 리스트 요소 수정/재저장
numbers[0]

2

In [18]:
numbers[0] = 7
numbers

[7, 3, 5, 7, 11, 13]

**리스트 반복문 실습**

In [57]:
#문자열 인덱싱
Y = 201901
str(Y)[-4:]

'1901'

In [58]:
#문자열 인덱싱 이용해 코드문 출력함수 만들기
#2019년
Y = 201901
v = 'fmcg_ltsnack'

while Y <= 201912 :
    print(f", sum(case when sales_mm = {Y} then {v} else 0 end) as {v}_{str(Y)[-4:]}")
    Y += 1

, sum(case when sales_mm = 201901 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1901
, sum(case when sales_mm = 201902 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1902
, sum(case when sales_mm = 201903 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1903
, sum(case when sales_mm = 201904 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1904
, sum(case when sales_mm = 201905 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1905
, sum(case when sales_mm = 201906 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1906
, sum(case when sales_mm = 201907 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1907
, sum(case when sales_mm = 201908 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1908
, sum(case when sales_mm = 201909 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1909
, sum(case when sales_mm = 201910 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1910
, sum(case when sales_mm = 201911 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1911
, sum(case when sales_mm = 201912 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1912

In [59]:
#2020년
Y = 202001
v = 'fmcg_ltsnack'

while Y <= 202012 :
    print(f", sum(case when sales_mm = {Y} then {v} else 0 end) as {v}_{str(Y)[-4:]}")
    Y += 1

, sum(case when sales_mm = 202001 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2001
, sum(case when sales_mm = 202002 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2002
, sum(case when sales_mm = 202003 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2003
, sum(case when sales_mm = 202004 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2004
, sum(case when sales_mm = 202005 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2005
, sum(case when sales_mm = 202006 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2006
, sum(case when sales_mm = 202007 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2007
, sum(case when sales_mm = 202008 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2008
, sum(case when sales_mm = 202009 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2009
, sum(case when sales_mm = 202010 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2010
, sum(case when sales_mm = 202011 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2011
, sum(case when sales_mm = 202012 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2012

In [60]:
#2021년
Y = 202101
v = 'fmcg_ltsnack'

while Y <= 202110 :  # 21년은 10월까지만
    print(f", sum(case when sales_mm = {Y} then {v} else 0 end) as {v}_{str(Y)[-4:]}")
    Y += 1

, sum(case when sales_mm = 202101 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2101
, sum(case when sales_mm = 202102 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2102
, sum(case when sales_mm = 202103 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2103
, sum(case when sales_mm = 202104 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2104
, sum(case when sales_mm = 202105 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2105
, sum(case when sales_mm = 202106 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2106
, sum(case when sales_mm = 202107 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2107
, sum(case when sales_mm = 202108 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2108
, sum(case when sales_mm = 202109 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2109
, sum(case when sales_mm = 202110 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2110

In [61]:
#19년 1월부터 21년 11월까지 한번에 출력하기
Y = 19
while Y <= 21 :
    MM = int(f"20{Y}01")
    while MM <= int(f"20{Y}12") :
        print(f", sum(case when sales_mm = {MM} then {v} else 0 end) as {v}_{str(MM)[-4:]}")
        MM += 1
        if MM == 202111 :
            break
    Y += 1

, sum(case when sales_mm = 201901 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1901
, sum(case when sales_mm = 201902 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1902
, sum(case when sales_mm = 201903 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1903
, sum(case when sales_mm = 201904 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1904
, sum(case when sales_mm = 201905 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1905
, sum(case when sales_mm = 201906 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1906
, sum(case when sales_mm = 201907 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1907
, sum(case when sales_mm = 201908 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1908
, sum(case when sales_mm = 201909 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1909
, sum(case when sales_mm = 201910 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1910
, sum(case when sales_mm = 201911 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1911
, sum(case when sales_mm = 201912 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1912
, sum(case when sales_mm = 202001 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2001
, sum(case when sales_mm = 202002 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2002
, sum(case when sales_mm = 202003 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2003
, sum(case when sales_mm = 202004 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2004
, sum(case when sales_mm = 202005 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2005
, sum(case when sales_mm = 202006 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2006
, sum(case when sales_mm = 202007 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2007
, sum(case when sales_mm = 202008 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2008
, sum(case when sales_mm = 202009 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2009
, sum(case when sales_mm = 202010 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2010
, sum(case when sales_mm = 202011 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2011
, sum(case when sales_mm = 202012 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2012
, sum(case when sales_mm = 202101 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2101
, sum(case when sales_mm = 202102 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2102
, sum(case when sales_mm = 202103 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2103
, sum(case when sales_mm = 202104 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2104
, sum(case when sales_mm = 202105 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2105
, sum(case when sales_mm = 202106 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2106
, sum(case when sales_mm = 202107 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2107
, sum(case when sales_mm = 202108 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2108
, sum(case when sales_mm = 202109 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2109
, sum(case when sales_mm = 202110 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2110

In [62]:
# 모든 열이름 포함해서 전부 한번에 출력하기
# 리스트에 열 이름 저장해서, 반복문 이용
c = ["fmcg_amt6","fmcg_ltsnack","fmcg_amt"]
for v in c :
    Y = 19
    while Y <= 21 :
        MM = int(f"20{Y}01")
        while MM <= int(f"20{Y}12") :
            if v == "fmcg_amt6" :
                print(f", sum(case when sales_mm = {MM} then {v} else 0 end) as fmcg_snack_{str(MM)[-4:]}")
            else :    
                print(f", sum(case when sales_mm = {MM} then {v} else 0 end) as {v}_{str(MM)[-4:]}")
            MM += 1
            if MM == 202111 :
                break
        Y += 1

, sum(case when sales_mm = 201901 then fmcg_amt6 else 0 end) as fmcg_snack_1901
, sum(case when sales_mm = 201902 then fmcg_amt6 else 0 end) as fmcg_snack_1902
, sum(case when sales_mm = 201903 then fmcg_amt6 else 0 end) as fmcg_snack_1903
, sum(case when sales_mm = 201904 then fmcg_amt6 else 0 end) as fmcg_snack_1904
, sum(case when sales_mm = 201905 then fmcg_amt6 else 0 end) as fmcg_snack_1905
, sum(case when sales_mm = 201906 then fmcg_amt6 else 0 end) as fmcg_snack_1906
, sum(case when sales_mm = 201907 then fmcg_amt6 else 0 end) as fmcg_snack_1907
, sum(case when sales_mm = 201908 then fmcg_amt6 else 0 end) as fmcg_snack_1908
, sum(case when sales_mm = 201909 then fmcg_amt6 else 0 end) as fmcg_snack_1909
, sum(case when sales_mm = 201910 then fmcg_amt6 else 0 end) as fmcg_snack_1910
, sum(case when sales_mm = 201911 then fmcg_amt6 else 0 end) as fmcg_snack_1911
, sum(case when sales_mm = 201912 then fmcg_amt6 else 0 end) as fmcg_snack_1912
, sum(case when sales_mm = 202001 then fmcg_amt6 else 0 end) as fmcg_snack_2001
, sum(case when sales_mm = 202002 then fmcg_amt6 else 0 end) as fmcg_snack_2002
, sum(case when sales_mm = 202003 then fmcg_amt6 else 0 end) as fmcg_snack_2003
, sum(case when sales_mm = 202004 then fmcg_amt6 else 0 end) as fmcg_snack_2004
, sum(case when sales_mm = 202005 then fmcg_amt6 else 0 end) as fmcg_snack_2005
, sum(case when sales_mm = 202006 then fmcg_amt6 else 0 end) as fmcg_snack_2006
, sum(case when sales_mm = 202007 then fmcg_amt6 else 0 end) as fmcg_snack_2007
, sum(case when sales_mm = 202008 then fmcg_amt6 else 0 end) as fmcg_snack_2008
, sum(case when sales_mm = 202009 then fmcg_amt6 else 0 end) as fmcg_snack_2009
, sum(case when sales_mm = 202010 then fmcg_amt6 else 0 end) as fmcg_snack_2010
, sum(case when sales_mm = 202011 then fmcg_amt6 else 0 end) as fmcg_snack_2011
, sum(case when sales_mm = 202012 then fmcg_amt6 else 0 end) as fmcg_snack_2012
, sum(case when sales_mm = 202101 then fmcg_amt6 else 0 end) as fmcg_snack_2101
, sum(case when sales_mm = 202102 then fmcg_amt6 else 0 end) as fmcg_snack_2102
, sum(case when sales_mm = 202103 then fmcg_amt6 else 0 end) as fmcg_snack_2103
, sum(case when sales_mm = 202104 then fmcg_amt6 else 0 end) as fmcg_snack_2104
, sum(case when sales_mm = 202105 then fmcg_amt6 else 0 end) as fmcg_snack_2105
, sum(case when sales_mm = 202106 then fmcg_amt6 else 0 end) as fmcg_snack_2106
, sum(case when sales_mm = 202107 then fmcg_amt6 else 0 end) as fmcg_snack_2107
, sum(case when sales_mm = 202108 then fmcg_amt6 else 0 end) as fmcg_snack_2108
, sum(case when sales_mm = 202109 then fmcg_amt6 else 0 end) as fmcg_snack_2109
, sum(case when sales_mm = 202110 then fmcg_amt6 else 0 end) as fmcg_snack_2110
, sum(case when sales_mm = 201901 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1901
, sum(case when sales_mm = 201902 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1902
, sum(case when sales_mm = 201903 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1903
, sum(case when sales_mm = 201904 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1904
, sum(case when sales_mm = 201905 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1905
, sum(case when sales_mm = 201906 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1906
, sum(case when sales_mm = 201907 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1907
, sum(case when sales_mm = 201908 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1908
, sum(case when sales_mm = 201909 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1909
, sum(case when sales_mm = 201910 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1910
, sum(case when sales_mm = 201911 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1911
, sum(case when sales_mm = 201912 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_1912
, sum(case when sales_mm = 202001 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2001
, sum(case when sales_mm = 202002 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2002
, sum(case when sales_mm = 202003 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2003
, sum(case when sales_mm = 202004 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2004
, sum(case when sales_mm = 202005 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2005
, sum(case when sales_mm = 202006 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2006
, sum(case when sales_mm = 202007 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2007
, sum(case when sales_mm = 202008 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2008
, sum(case when sales_mm = 202009 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2009
, sum(case when sales_mm = 202010 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2010
, sum(case when sales_mm = 202011 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2011
, sum(case when sales_mm = 202012 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2012
, sum(case when sales_mm = 202101 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2101
, sum(case when sales_mm = 202102 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2102
, sum(case when sales_mm = 202103 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2103
, sum(case when sales_mm = 202104 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2104
, sum(case when sales_mm = 202105 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2105
, sum(case when sales_mm = 202106 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2106
, sum(case when sales_mm = 202107 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2107
, sum(case when sales_mm = 202108 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2108
, sum(case when sales_mm = 202109 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2109
, sum(case when sales_mm = 202110 then fmcg_ltsnack else 0 end) as fmcg_ltsnack_2110
, sum(case when sales_mm = 201901 then fmcg_amt else 0 end) as fmcg_amt_1901
, sum(case when sales_mm = 201902 then fmcg_amt else 0 end) as fmcg_amt_1902
, sum(case when sales_mm = 201903 then fmcg_amt else 0 end) as fmcg_amt_1903
, sum(case when sales_mm = 201904 then fmcg_amt else 0 end) as fmcg_amt_1904
, sum(case when sales_mm = 201905 then fmcg_amt else 0 end) as fmcg_amt_1905
, sum(case when sales_mm = 201906 then fmcg_amt else 0 end) as fmcg_amt_1906
, sum(case when sales_mm = 201907 then fmcg_amt else 0 end) as fmcg_amt_1907
, sum(case when sales_mm = 201908 then fmcg_amt else 0 end) as fmcg_amt_1908
, sum(case when sales_mm = 201909 then fmcg_amt else 0 end) as fmcg_amt_1909
, sum(case when sales_mm = 201910 then fmcg_amt else 0 end) as fmcg_amt_1910
, sum(case when sales_mm = 201911 then fmcg_amt else 0 end) as fmcg_amt_1911
, sum(case when sales_mm = 201912 then fmcg_amt else 0 end) as fmcg_amt_1912
, sum(case when sales_mm = 202001 then fmcg_amt else 0 end) as fmcg_amt_2001
, sum(case when sales_mm = 202002 then fmcg_amt else 0 end) as fmcg_amt_2002
, sum(case when sales_mm = 202003 then fmcg_amt else 0 end) as fmcg_amt_2003
, sum(case when sales_mm = 202004 then fmcg_amt else 0 end) as fmcg_amt_2004
, sum(case when sales_mm = 202005 then fmcg_amt else 0 end) as fmcg_amt_2005
, sum(case when sales_mm = 202006 then fmcg_amt else 0 end) as fmcg_amt_2006
, sum(case when sales_mm = 202007 then fmcg_amt else 0 end) as fmcg_amt_2007
, sum(case when sales_mm = 202008 then fmcg_amt else 0 end) as fmcg_amt_2008
, sum(case when sales_mm = 202009 then fmcg_amt else 0 end) as fmcg_amt_2009
, sum(case when sales_mm = 202010 then fmcg_amt else 0 end) as fmcg_amt_2010
, sum(case when sales_mm = 202011 then fmcg_amt else 0 end) as fmcg_amt_2011
, sum(case when sales_mm = 202012 then fmcg_amt else 0 end) as fmcg_amt_2012
, sum(case when sales_mm = 202101 then fmcg_amt else 0 end) as fmcg_amt_2101
, sum(case when sales_mm = 202102 then fmcg_amt else 0 end) as fmcg_amt_2102
, sum(case when sales_mm = 202103 then fmcg_amt else 0 end) as fmcg_amt_2103
, sum(case when sales_mm = 202104 then fmcg_amt else 0 end) as fmcg_amt_2104
, sum(case when sales_mm = 202105 then fmcg_amt else 0 end) as fmcg_amt_2105
, sum(case when sales_mm = 202106 then fmcg_amt else 0 end) as fmcg_amt_2106
, sum(case when sales_mm = 202107 then fmcg_amt else 0 end) as fmcg_amt_2107
, sum(case when sales_mm = 202108 then fmcg_amt else 0 end) as fmcg_amt_2108
, sum(case when sales_mm = 202109 then fmcg_amt else 0 end) as fmcg_amt_2109
, sum(case when sales_mm = 202110 then fmcg_amt else 0 end) as fmcg_amt_2110

## 리스트 함수
* len : 리스트 길이 반환 (리스트 요소의 수)

In [9]:
numbers = [3,4,5]
len(numbers)

3

* append: 리스트에 요소 추가

In [10]:
numbers.append(6)
numbers

[3, 4, 5, 6]

In [11]:
numbers.append(8)
numbers

[3, 4, 5, 6, 8]

In [12]:
# 리스트 가장 오른쪽(마지막)에 요소를 추가
numbers.append(10)
numbers

[3, 4, 5, 6, 8, 10]

* del: 리스트 요소 삭제

In [13]:
del numbers[0]
numbers

[4, 5, 6, 8, 10]

* insert: 원하는 위치에 리스트 요소 삽입 list.insert(위치,요소)

In [14]:
numbers.insert(3,7)
numbers

[4, 5, 6, 7, 8, 10]

In [18]:
# 지정 위치 '이전에' 요소를 추가한다. 
a = [1,10,100]
a[-1]

100

In [19]:
a.insert(-1,50) #-1 이전 위치. 즉 -2의 위치에 삽입한다. 
a

[1, 10, 50, 100]

* extend: 리스트에 여러요소 한번에 추가하기 (리스트 형태로 추가해야함)

In [16]:
numbers.extend([11,12,13])

In [17]:
numbers

[4, 5, 6, 7, 8, 10, 11, 12, 13]

## 리스트 정렬

In [29]:
numbers = [19, 13, 2, 5, 3, 11, 7, 17]

* sorted: 오름차순으로 정렬된 새로운 리스트를 반환(기존 리스트에 자동 저장하지 않음)

In [23]:
sorted(numbers)

[2, 3, 5, 7, 11, 13, 17, 19]

In [25]:
print(numbers) # 기존 리스트는 그대로 있다.

[19, 13, 2, 5, 3, 11, 7, 17]

In [26]:
# 내림차순 정렬
sorted(numbers, reverse = True)

[19, 17, 13, 11, 7, 5, 3, 2]

* sort : 아무것도 리턴하지 않고, 기존 리스트를 정렬 및 변환시킴

In [30]:
print(numbers.sort()) #순서가 정렬될 뿐, 반환하는 것은 없다

None

In [31]:
print(numbers) #리스트를 프린트해야함. 정렬되어 반환됨

[2, 3, 5, 7, 11, 13, 17, 19]

In [32]:
#내림차순
numbers.sort(reverse = True)
print(numbers)

[19, 17, 13, 11, 7, 5, 3, 2]

## 리스트 인덱싱 연습

In [33]:
greetings = ["안녕", "니하오", "곤니찌와", "올라", "싸와디캅", "헬로", "봉주르"]

greetings 리스트의 원소를 모두 출력하는 프로그램을 작성해 보세요. while문과 리스트의 개념을 활용하시면 됩니다.

출력하면 아래와 같은 결과물이 나와야 합니다.
>```
안녕
니하오
곤니찌와
올라
싸와디캅
헬로
봉주르
```

In [40]:
# while 문

i = 0
while i < len(greetings) :
    print(greetings[i])
    i += 1

안녕
니하오
곤니찌와
올라
싸와디캅
헬로
봉주르

In [39]:
# for 문
for i in greetings:
    print(i)

안녕
니하오
곤니찌와
올라
싸와디캅
헬로
봉주르

## 온도 단위 바꾸기
화씨 온도(°F)를 섭씨 온도(°C)로 바꾸어주는 프로그램을 만들려고 합니다.

섭씨와 화씨의 관계식은 다음과 같습니다:

$°C = \frac{(°F - 32) * 5}{9}$
 

화씨 온도를 섭씨 온도로 변환해 주는 함수 fahrenheit_to_celsius를 써 보세요. 이 함수를 파라미터로 화씨 온도 fahrenheit를 받고, 변환된 섭씨 온도를 리턴합니다.

위 프로그램을 실행하면 아래처럼 출력되어야 합니다.
>```
화씨 온도 리스트: [40, 15, 32, 64, -4, 11]
섭씨 온도 리스트: [4.4, -9.4, 0.0, 17.8, -20.0, -11.7]
```

In [67]:
def fahrenheit_to_celsius(f):
    return((f-32)*5/9)

F = [40,15,32,64, -4, 11]

In [68]:
# List.append 사용
C = []

for f in F:
    C.append(round(fahrenheit_to_celsius(f),1))
    
print(f"화씨 온도 리스트: {F}", end='\n')
print(f"섭씨 온도 리스트: {C}")

화씨 온도 리스트: [40, 15, 32, 64, -4, 11]
섭씨 온도 리스트: [4.4, -9.4, 0.0, 17.8, -20.0, -11.7]

In [70]:
# 인덱싱 사용
i = 0
while i < len(F):
    F[i] = round(fahrenheit_to_celsius(F[i]),1)
    i += 1

print(f"섭씨 온도 리스트: {F}")

섭씨 온도 리스트: [4.4, -9.4, 0.0, 17.8, -20.0, -11.7]

## 환전 서비스
제가 구매하고 싶은 물건들의 가격을 리스트에 정리해 놨습니다.

> prices = [34000, 13000, 5000, 21000, 1000, 2000, 8000, 3000]

가격의 단위는 모두 원화(￦)인데요. 이 물건들의 가격을 미국 달러($)로 하면 얼마일지, 그리고 일본 엔화(￥)로 하면 얼마일지 확인해 보려고 합니다.

해야 할 일
우리가 해야 할 일은 크게 두 가지입니다.

함수 작성
반복문을 통해 리스트 요소들 변환
1. 함수 작성
먼저 한국 원화를 미국 달러로 변환해 주는 krw_to_usd 함수, 그리고 미국 달러를 일본 엔화로 변환해 주는 usd_to_jpy 함수를 써야 하는데요. krw_to_usd 함수는 파라미터로 원화 krw을 받아서 변환된 미국 달러 액수를 리턴해 줍니다. 마찬가지로 usd_to_jpy 함수는 파라미터로 달러 usd를 받아서 변환된 일본 엔화 액수를 리턴해 주는 거죠.

참고로 환율은 1달러에 1,000원, 그리고 1,000엔에 8달러라고 가정합니다.

2. 반복문을 통해 리스트 요소들 변환
반복문을 사용해서 리스트의 요소들을 각각 다른 화폐로 변환해야 하는데요. 그 과정에서 krw_to_usd 함수와 usd_to_jpy 함수를 활용하면 되겠죠?

위 코드를 완성하고 실행하면 아래와 같이 출력됩니다.

> ```
한국 화폐: [34000, 13000, 5000, 21000, 1000, 2000, 8000, 3000]
미국 화폐: [34.0, 13.0, 5.0, 21.0, 1.0, 2.0, 8.0, 3.0]
일본 화폐: [4250.0, 1625.0, 625.0, 2625.0, 125.0, 250.0, 1000.0, 375.0]
```

In [78]:
# 원화(￦)에서 달러($)로 변환하는 함수
def krw_to_usd(krw):
    return(krw/1000)

In [79]:
# 달러($)에서 엔화(￥)로 변환하는 함수
def usd_to_jpy(usd):
    return(usd*1000/8) # or usd/8*1000

In [83]:
# 원화(￦)으로 각각 얼마인가요?
prices = [34000, 13000, 5000, 21000, 1000, 2000, 8000, 3000]
print("한국 화폐: " + str(prices))

한국 화폐: [34000, 13000, 5000, 21000, 1000, 2000, 8000, 3000]

In [84]:
# prices를 원화(￦)에서 달러($)로 변환하기
i = 0
while i < len(prices):
    prices[i] = krw_to_usd(prices[i])
    i += 1

In [85]:
# 달러($)로 각각 얼마인가요?
print("미국 화폐: " + str(prices))

미국 화폐: [34.0, 13.0, 5.0, 21.0, 1.0, 2.0, 8.0, 3.0]

In [86]:
# prices를 달러($)에서 엔화(￥)으로 변환하기
i = 0
while i < len(prices):
    prices[i] = usd_to_jpy(prices[i])
    i += 1

In [87]:
# 엔화(￥)으로 각각 얼마인가요?
print("일본 화폐: " + str(prices))

일본 화폐: [4250.0, 1625.0, 625.0, 2625.0, 125.0, 250.0, 1000.0, 375.0]

## 리스트 함수 활용하기
리스트 함수를 활용하여 아래의 지시 사항을 따르세요.

1. numbers라는 빈 리스트를 만들고 리스트를 출력한다.
2. append를 이용해서 numbers에 1, 7, 3, 6, 5, 2, 13, 14를 순서대로 추가한다. 그 후 리스트를 출력한다.
3. numbers 리스트의 원소들 중 홀수는 모두 제거한다. 그 후 다시 리스트를 출력한다.
4. numbers 리스트의 인덱스 0 자리에 20이라는 수를 삽입한 후 출력한다.
5. numbers 리스트를 정렬한 후 출력한다.

In [106]:
# 빈 리스트 만들기
numbers = []
print(numbers)

[]

In [107]:
# numbers에 값들 추가
numbers.append(1)
numbers.append(7)
numbers.append(3)
numbers.append(6)
numbers.append(5)
numbers.append(2)
numbers.append(13)
numbers.append(14)
print(numbers)

[1, 7, 3, 6, 5, 2, 13, 14]

In [105]:
# numbers에서 홀수 제거
# continue 사용
i = 0
while i < len(numbers) :
    if numbers[i] % 2 != 0 :
        del(numbers[i])
        continue
    i += 1
print(numbers)

[6, 2, 14]

In [108]:
# esle 사용
i = 0
while i < len(numbers) :
    if numbers[i] % 2 != 0 :
        del(numbers[i])
    else:
        i += 1
print(numbers)

[6, 2, 14]

In [109]:
# numbers의 인덱스 0 자리에 20이라는 값 삽입
numbers.insert(0,20)
print(numbers)

[20, 6, 2, 14]

In [110]:
# numbers를 정렬해서 출력
numbers.sort()
print(numbers)

[2, 6, 14, 20]

## 리스트 꿀팁
### 리스트에서 값의 존재 확인하기
**in**: 특정 값이 리스트에 있는지 확인하는 함수. Boolean 출력

In [4]:
primes = [2, 3, 5, 7, 11, 13, 17, 19, 23]

print(7 in primes)
print(12 in primes)

True
False

In [5]:
# 값이 없는지 확인 : not in 

print(7 not in primes)
print(12 not in primes)

False
True

### 리스트 안의 리스트(Nested List)
리스트의 요소로 리스트를 받을 수 있음

In [6]:
# 세 번의 시험을 보는 수업
grades = [[62, 75, 77], [78, 81, 86], [85, 91, 89]]

In [9]:
# 첫 번째 학생의 성적
print(grades[0])

[62, 75, 77]

In [10]:
# 세 번째 학생의 성적
print(grades[2])

[85, 91, 89]

In [11]:
# 첫 번째 학생의 첫 번째 시험 성적
print(grades[0][0])

62

In [12]:
# 세 번째 학생의 두 번째 시험 성적
print(grades[2][1])

91

In [14]:
# 첫 번째 시험의 평균
print((grades[0][0]+grades[1][0]+grades[2][0]) / 3)

75.0

### reverse메소드
.revesre()는 리스트의 원소들을 뒤집어진 순서로 배치하여 저장한다.

In [16]:
numbers = [5, 3, 7, 1]
numbers.reverse()
print(numbers)

[1, 7, 3, 5]

### index 메소드
.index(x)는 리스트에서 x의 값을 갖고 있는 첫번째 원소의 인덱스를 리턴한다.

In [17]:
members = ["영훈", "윤수", "태호", "혜린"]
print(members.index("윤수"))
print(members.index("태호"))

1
2

### remove메소드
.remove(x)는 리스트에서 첫 번째로 x의 값을 갖고 있는 원소를 삭제하고 저장한다.

In [18]:
fruits = ["딸기", "당근", "파인애플", "수박", "참외", "메론"]
fruits.remove("파인애플")
print(fruits)

['딸기', '당근', '수박', '참외', '메론']

# for 반복문
## for 문
 List와 함께 사용 시 유용한 반복문. while문과 다르게 조건문이 없음. List안의 변수를 받아 차례로 동작

In [19]:
my_list = [2,3,5,7,11]

for number in my_list: #number는 list안의 요소를 지칭하는 변수로, 어떤 이름을 써도 무방하다.
    print(number)

2
3
5
7
11

In [20]:
# while문 사용 시 더 복잡하다. 그러나 상황따라 다를 수 있음
my_list = [2,3,5,7,11]

i = 0
while i < len(my_list) :
    print(my_list[i])
    i += 1

2
3
5
7
11

## range 함수
일정한 범위의 정수를 반복할 수 있는 객체를 생성하는 함수. list 요소 일일히 입력하지 않아도 되도록.

#### 파라미터 1개 버전
range(stop): 0부터 stop -1까지의 범위

In [22]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

#### 파라미터 2개 버전
range(start, stop) : start 부터 stop-1까지의 범위

In [21]:
for i in range(3,11):
    print(i)

3
4
5
6
7
8
9
10

#### 파라미터 3개 버전
range(start,stop,step) : start부터 stop-1까지의 범위, 요소 값 간격으로 step

In [24]:
for i in range(3,18,3):
    print(i)

3
6
9
12
15

## range 연습
numbers라는 리스트가 주어졌습니다.

for문과 range 함수를 사용하여, numbers의 인덱스와 원소를 출력해 보세요.

>numbers = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31]

실행하면 콘솔에 아래와 같이 출력됩니다.
>```
0 2
1 3
2 5
3 7
4 11
5 13
6 17
7 19
8 23
9 29
10 31
```

In [28]:
numbers = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31]

for i in range(11):
    print(i,numbers[i])

0 2
1 3
2 5
3 7
4 11
5 13
6 17
7 19
8 23
9 29
10 31

In [29]:
# 11이라는 숫자를 지정하지 않고 다음과 같이 프로그래밍 할 수 있다. 
range(len(numbers))

range(0, 11)

In [30]:
for i in range(len(numbers)):
    print(i, numbers[i])

0 2
1 3
2 5
3 7
4 11
5 13
6 17
7 19
8 23
9 29
10 31

In [31]:
for i in range(0, 11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

## 거듭제곱
"2의 n제곱"을 출력하는 프로그램을 만들려고 합니다.

코드를 실행하면 아래와 같이 2^0 = 1부터 2^10 = 1024까지 출력되어야 합니다.
>```
2^0 = 1
2^1 = 2
2^2 = 4
.
.
.
2^10 = 1024
```

In [38]:
for i in range(11):
    print(f"2^{i} = {2**i}")

2^0 = 1
2^1 = 2
2^2 = 4
2^3 = 8
2^4 = 16
2^5 = 32
2^6 = 64
2^7 = 128
2^8 = 256
2^9 = 512
2^10 = 1024

## for문으로 구구단
구구단 프로그램을 while문이 아닌 for문을 사용해서 만들어 보세요.

코드를 실행하면, 아래와 같이 출력되어야 합니다.
>```
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
.
.
.
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
```

In [41]:
for i in range(1,10):
    for j in range(1,10):
        print(f"{i} * {j} = {i*j}")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

## 피타고라스 삼조
'피타고라스 정리'라고 들어 보셨나요? 직각삼각형에서, 빗변의 제곱이 두 직각변의 제곱의 합과 같다는 정리입니다.

거기서 나온 '피타고라스 삼조'라는 개념이 있는데요. 피타고라스 삼조란, 피타고라스 정리$(a^2 + b^2 = c^2)$를 만족하는 세 자연수 쌍 (a,b,c)입니다.

예를 들어, $3^2 + 4^2 = 5^2$이기 때문에 (3, 4, 5)는 피타고라스 삼조입니다.

$a < b < c$라고 가정할 때, $a+b+c=400$을 만족하는 피타고라스 삼조 (a,b,c)는 단 하나인데요. 이 경우, $a * b * c$는 얼마인가요?

In [58]:
import time
start = time.time()

for a in range(1,400):
    for b in range(a +1, 400):
        for c in range(b +1,400):
            if a + b + c == 400 and a**2 + b**2 == c**2:
                print(a*b*c)
                
end = time.time()
print(f"{end - start:.5f} sec")

2040000
1.66882 sec

In [59]:
start = time.time()

# 효율적 코드
for a in range(1,400) :
    for b in range(1,400):
        ## a와 b값이 지정되었으므로 c는 for문을 돌리지 않아도 자동적으로 지정될 수 있다. 
        c = 400 - a - b  
        if a**2 + b**2 == c**2 and a< b< c:
            print(a * b* c)
                
end = time.time()
print(f"{end - start:.5f} sec")

2040000
0.18546 sec

In [60]:
start = time.time()

for a in range(1,400) :
    # 내가 한 방식으로 b가 1부터 갈 필요 없이 a보다 클 수 있게끔 범위를 주면 더 빠르겠지! 
    for b in range(a+1,400):
        c = 400 - a - b
        if a**2 + b**2 == c**2 and a< b< c:
            print(a * b* c)
                
end = time.time()
print(f"{end - start:.5f} sec")

2040000
0.08418 sec

## 리스트 뒤집기
리스트 원소들의 순서를 거꾸로 뒤집으려고 합니다.

numbers라는 리스트가 주어졌을 때, for문을 사용하여 리스트를 거꾸로 뒤집어 보세요!

In [130]:
numbers = [2, 3, 5, 7, 11, 13, 17, 19]

In [131]:
numbers2 = numbers.copy()  # .copy()를 붙히지 않으면 number 변경 시 number2도 연동되어 변경됨.

for i in range(len(numbers)):
    numbers[i]=numbers2[len(numbers)-1-i]
    
print("뒤집어진 리스트: " + str(numbers))

뒤집어진 리스트: [19, 17, 13, 11, 7, 5, 3, 2]

In [132]:
numbers = [2, 3, 5, 7, 11, 13, 17, 19]

# numbers 그대로 이용하기 (모범답안)
for left in range(len(numbers) // 2): # // : 나눈 후 몫이 소수점이면 내림 
    # 인덱스 left와 대칭인 인덱스 right 계산
    right = len(numbers) -1 - left
    
    #위치 바꾸기
    temp = numbers[left]
    numbers[left] = numbers[right]
    numbers[right] = temp
    
print("뒤집어진 리스트: " + str(numbers))

뒤집어진 리스트: [19, 17, 13, 11, 7, 5, 3, 2]

In [133]:
# Tuple 이용하기 
korean_names = ('효선', '유신')
english_names = 'hyoseon', 'yusin'

print(type(korean_names))
print(type(english_names))

<class 'tuple'>
<class 'tuple'>

In [134]:
numbers = [2, 3, 5, 7, 11, 13, 17, 19]

# 리스트 뒤집기
for left in range(len(numbers) // 2):
    # 인덱스 left와 대칭인 인덱스 right 계산    
    right = len(numbers) - left - 1

    # 위치 바꾸기
    numbers[right], numbers[left] = numbers[left], numbers[right]

print("뒤집어진 리스트: " + str(numbers))

뒤집어진 리스트: [19, 17, 13, 11, 7, 5, 3, 2]