# Data Frame 인덱싱

In [1]:
import pandas as pd

In [ ]:
#iphone_df = pd.read_csv('../../../../../Downloads/iphone.csv', index_col=0)
#iphone_df

In [2]:
iphone_df = pd.read_csv('../../../../Downloads/iphone.csv', index_col=0)
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

## 로우와 컬럼의 이름으로 가져오기(라벨 인덱싱 loc)
### 인덱싱
* .loc['행이름','열이름']

In [3]:
iphone_df.loc['iPhone 8','메모리']

'2GB'

* 하나의 row 이름 : 행 전체 가져오기

In [4]:
iphone_df.loc['iPhone X', :]

출시일        2017-11-03
디스플레이             5.8
메모리               3GB
출시 버전        iOS 11.1
Face ID           Yes
Name: iPhone X, dtype: object

In [5]:
iphone_df.loc['iPhone X']

출시일        2017-11-03
디스플레이             5.8
메모리               3GB
출시 버전        iOS 11.1
Face ID           Yes
Name: iPhone X, dtype: object

In [12]:
type(iphone_df.loc['iPhone X'])

pandas.core.series.Series

* 하나의 colum 이름: 컬럼 전체 가져오기

In [47]:
#기본형태
iphone_df.loc[:,'출시일']

iPhone 7         2016-09-16
iPhone 7 Plus    2016-09-16
iPhone 8         2017-09-22
iPhone 8 Plus    2017-09-22
iPhone X         2017-11-03
iPhone XS        2018-09-21
iPhone XS Max    2018-09-21
Name: 출시일, dtype: object

* loc없이 컬럼명을 바로 인덱싱할 수 있다.  
  df.loc[:"col1"])의 단축형 -> df["col1"]

In [48]:
#단축 형태
iphone_df['출시일']

iPhone 7         2016-09-16
iPhone 7 Plus    2016-09-16
iPhone 8         2017-09-22
iPhone 8 Plus    2017-09-22
iPhone X         2017-11-03
iPhone XS        2018-09-21
iPhone XS Max    2018-09-21
Name: 출시일, dtype: object

In [13]:
type(iphone_df['출시일'])

# 인덱스 없이 값들만 가져오는 시리즈형태로 반환된다.

pandas.core.series.Series

* 여러 행 또는 열 가져오기 : 여러개의 로우 또는 컬럼명을 리스트로 넣어준다.

In [49]:
# row이름의 리스트
iphone_df.loc[['iPhone X', 'iPhone 7']]

                 출시일  디스플레이  메모리     출시 버전 Face ID
iPhone X  2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone 7  2016-09-16    4.7  2GB  iOS 10.0      No

In [51]:
# column이름의 리스트 
iphone_df.loc[:,['출시일','메모리']]

                      출시일  메모리
iPhone 7       2016-09-16  2GB
iPhone 7 Plus  2016-09-16  3GB
iPhone 8       2017-09-22  2GB
iPhone 8 Plus  2017-09-22  3GB
iPhone X       2017-11-03  3GB
iPhone XS      2018-09-21  4GB
iPhone XS Max  2018-09-21  4GB

In [52]:
# column이름의 리스트 단축형
iphone_df[['출시일','메모리']]

                      출시일  메모리
iPhone 7       2016-09-16  2GB
iPhone 7 Plus  2016-09-16  3GB
iPhone 8       2017-09-22  2GB
iPhone 8 Plus  2017-09-22  3GB
iPhone X       2017-11-03  3GB
iPhone XS      2018-09-21  4GB
iPhone XS Max  2018-09-21  4GB

### 슬라이싱
이름으로 슬라이싱 할 때는 지정한 곳 까지 전부 출력된다. (이전 행까지 아님. 지정행 포함) 
* 행 슬라이싱

In [53]:
#기본형 : df.loc["row2":"row5"]
iphone_df.loc['iPhone 8': 'iPhone XS']

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes

In [54]:
# 단축형 : df["row2":"row5"]
iphone_df['iPhone 8': 'iPhone XS']

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes

* 열 슬라이싱

In [55]:
#loc 없이는 불가능하다. 단축형 없음
iphone_df['출시일':'메모리']

Empty DataFrame
Columns: [출시일, 디스플레이, 메모리, 출시 버전, Face ID]
Index: []

In [21]:
iphone_df.loc[:,'출시일':'메모리']

                      출시일  디스플레이  메모리
iPhone 7       2016-09-16    4.7  2GB
iPhone 7 Plus  2016-09-16    5.5  3GB
iPhone 8       2017-09-22    4.7  2GB
iPhone 8 Plus  2017-09-22    5.5  3GB
iPhone X       2017-11-03    5.8  3GB
iPhone XS      2018-09-21    5.8  4GB
iPhone XS Max  2018-09-21    6.5  4GB

## DataFrame 조건으로 인덱싱
### 불린리스트 직접입력
행,열 갯수에 맞는 리스트 요소를 모두 적어줘야한다.

In [22]:
iphone_df.loc[[True,False,True,True,False,True,False]] #0,2,3,5 번 행만 반환

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes

In [32]:
iphone_df[[True,False,True,True,False,True,False]] #loc없이 가능

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes

In [24]:
iphone_df.loc[:,[True,False,False,True,True]]

                      출시일     출시 버전 Face ID
iPhone 7       2016-09-16  iOS 10.0      No
iPhone 7 Plus  2016-09-16  iOS 10.0      No
iPhone 8       2017-09-22  iOS 11.0      No
iPhone 8 Plus  2017-09-22  iOS 11.0      No
iPhone X       2017-11-03  iOS 11.1     Yes
iPhone XS      2018-09-21  iOS 12.0     Yes
iPhone XS Max  2018-09-21  iOS 12.0     Yes

In [34]:
iphone_df[:,[True,False,False,True,True]] #loc없이 불가능

TypeError: '(slice(None, None, None), [True, False, False, True, True])' is an invalid key

### 결과를 불린으로 나타낼수 있는 조건 입력

In [25]:
iphone_df['디스플레이']>5
# 디스플레이 열에서, 값이 5 이상인지 여부가 시리즈로 반환된다.

iPhone 7         False
iPhone 7 Plus     True
iPhone 8         False
iPhone 8 Plus     True
iPhone X          True
iPhone XS         True
iPhone XS Max     True
Name: 디스플레이, dtype: bool

In [36]:
# 인덱스에 대한 T/F가 반환되므로 이 조건문을 불린결과 대신 입력할 수 있다. 
iphone_df.loc[iphone_df['디스플레이']>5]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [26]:
#loc없이 가능 
iphone_df[iphone_df['디스플레이']>5]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

## DataFrame 위치로 인덱싱하기
* iloc : integer-location
* df.iloc[행번호, 열번호]

In [39]:
iphone_df.iloc[2,4]

'No'

In [40]:
# 여러 값 가져오기 : 로우리스트, 컬럼리스트
iphone_df.iloc[[1,3],[1,4]]

               디스플레이 Face ID
iPhone 7 Plus    5.5      No
iPhone 8 Plus    5.5      No

In [41]:
#연속된 인덱싱
iphone_df.iloc[3:, 1:4]

               디스플레이  메모리     출시 버전
iPhone 8 Plus    5.5  3GB  iOS 11.0
iPhone X         5.8  3GB  iOS 11.1
iPhone XS        5.8  4GB  iOS 12.0
iPhone XS Max    6.5  4GB  iOS 12.0

In [43]:
# 행만 가져오기
iphone_df.iloc[2]

출시일        2017-09-22
디스플레이             4.7
메모리               2GB
출시 버전        iOS 11.0
Face ID            No
Name: iPhone 8, dtype: object

In [44]:
#행 슬라이싱
iphone_df.iloc[2:5]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes

* loc, iloc모두 슬라이싱에서는 행 슬라이싱만 단축 가능하다.

In [5]:
# 행 슬라이싱 단축: iloc생략
iphone_df[2:5]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes

# 데이터 변형하기
## DagaFrame에 값 쓰기1

In [6]:
iphone_df.loc['iPhone 8', '메모리']

'2GB'

### 특정 행,열에 값 쓰기

In [25]:
# 새로운 값을 할당하면 그 값이 새로운 값이 된다. 
iphone_df.loc['iPhone 8', '메모리'] = '2.5BG'

In [26]:
iphone_df

                      출시일  디스플레이    메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7    2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5    3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2.5BG  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5    3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8    3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8    4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5    4GB  iOS 12.0     Yes

In [27]:
iphone_df.loc['iPhone 8', '출시 버전'] = '10.3'

In [28]:
iphone_df

                      출시일  디스플레이    메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7    2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5    3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2.5BG      10.3      No
iPhone 8 Plus  2017-09-22    5.5    3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8    3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8    4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5    4GB  iOS 12.0     Yes

### 한 행, 열을 통째로 바꾸기

In [11]:
iphone_df.loc['iPhone 8']

출시일        2017-09-22
디스플레이             4.7
메모리             2.5BG
출시 버전            10.3
Face ID            No
Name: iPhone 8, dtype: object

In [29]:
iphone_df.loc['iPhone 8'] =['2016-09-22', '4.7', '2GB', 'iOS 11.0', 'No']
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16   5.5  3GB  iOS 10.0      No
iPhone 8       2016-09-22   4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22   5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03   5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21   5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21   6.5  4GB  iOS 12.0     Yes

In [13]:
iphone_df['디스플레이']

iPhone 7         4.7
iPhone 7 Plus    5.5
iPhone 8         4.7
iPhone 8 Plus    5.5
iPhone X         5.8
iPhone XS        5.8
iPhone XS Max    6.5
Name: 디스플레이, dtype: object

In [30]:
iphone_df['디스플레이'] = ['4.7 in', '5.5 in', '4.7 in', '5.5 in', '5.8 in', '5.8 in', '6.5 in']
iphone_df

                      출시일   디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16  4.7 in  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16  5.5 in  3GB  iOS 10.0      No
iPhone 8       2016-09-22  4.7 in  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22  5.5 in  3GB  iOS 11.0      No
iPhone X       2017-11-03  5.8 in  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21  5.8 in  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21  6.5 in  4GB  iOS 12.0     Yes

In [31]:
iphone_df['Face ID']='Yes'
iphone_df

                      출시일   디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16  4.7 in  2GB  iOS 10.0     Yes
iPhone 7 Plus  2016-09-16  5.5 in  3GB  iOS 10.0     Yes
iPhone 8       2016-09-22  4.7 in  2GB  iOS 11.0     Yes
iPhone 8 Plus  2017-09-22  5.5 in  3GB  iOS 11.0     Yes
iPhone X       2017-11-03  5.8 in  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21  5.8 in  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21  6.5 in  4GB  iOS 12.0     Yes

## DagaFrame에 값 쓰기2
### 여러 행, 열을 한번에 바꾸기

In [32]:
# 컬럼 여러개 바꾸기 
iphone_df[['디스플레이','Face ID']]

                디스플레이 Face ID
iPhone 7       4.7 in     Yes
iPhone 7 Plus  5.5 in     Yes
iPhone 8       4.7 in     Yes
iPhone 8 Plus  5.5 in     Yes
iPhone X       5.8 in     Yes
iPhone XS      5.8 in     Yes
iPhone XS Max  6.5 in     Yes

In [33]:
iphone_df[['디스플레이','Face ID']] = 'x'

In [34]:
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16     x  2GB  iOS 10.0       x
iPhone 7 Plus  2016-09-16     x  3GB  iOS 10.0       x
iPhone 8       2016-09-22     x  2GB  iOS 11.0       x
iPhone 8 Plus  2017-09-22     x  3GB  iOS 11.0       x
iPhone X       2017-11-03     x  3GB  iOS 11.1       x
iPhone XS      2018-09-21     x  4GB  iOS 12.0       x
iPhone XS Max  2018-09-21     x  4GB  iOS 12.0       x

In [35]:
# 행 여러개 바꾸기 
iphone_df.loc[['iPhone 7', 'iPhone X']]

                 출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7  2016-09-16     x  2GB  iOS 10.0       x
iPhone X  2017-11-03     x  3GB  iOS 11.1       x

In [36]:
iphone_df.loc[['iPhone 7', 'iPhone X']] = 'o'
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7                o     o    o         o       o
iPhone 7 Plus  2016-09-16     x  3GB  iOS 10.0       x
iPhone 8       2016-09-22     x  2GB  iOS 11.0       x
iPhone 8 Plus  2017-09-22     x  3GB  iOS 11.0       x
iPhone X                o     o    o         o       o
iPhone XS      2018-09-21     x  4GB  iOS 12.0       x
iPhone XS Max  2018-09-21     x  4GB  iOS 12.0       x

In [37]:
# 행 슬라이싱하여 범위 모두 바꾸기 
iphone_df['iPhone 7': 'iPhone X' ]

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7                o     o    o         o       o
iPhone 7 Plus  2016-09-16     x  3GB  iOS 10.0       x
iPhone 8       2016-09-22     x  2GB  iOS 11.0       x
iPhone 8 Plus  2017-09-22     x  3GB  iOS 11.0       x
iPhone X                o     o    o         o       o

In [38]:
iphone_df['iPhone 7': 'iPhone X' ] = 'o'
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7                o     o    o         o       o
iPhone 7 Plus           o     o    o         o       o
iPhone 8                o     o    o         o       o
iPhone 8 Plus           o     o    o         o       o
iPhone X                o     o    o         o       o
iPhone XS      2018-09-21     x  4GB  iOS 12.0       x
iPhone XS Max  2018-09-21     x  4GB  iOS 12.0       x

### 조건으로 인덱싱하여 한번에 바꾸기

In [40]:
iphone_df['디스플레이'] >5

iPhone 7         False
iPhone 7 Plus     True
iPhone 8         False
iPhone 8 Plus     True
iPhone X          True
iPhone XS         True
iPhone XS Max     True
Name: 디스플레이, dtype: bool

In [41]:
iphone_df.loc[iphone_df['디스플레이'] >5]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [43]:
iphone_df.loc[iphone_df['디스플레이'] >5] = 'P'
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No
iPhone 7 Plus           P     P    P         P       P
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No
iPhone 8 Plus           P     P    P         P       P
iPhone X                P     P    P         P       P
iPhone XS               P     P    P         P       P
iPhone XS Max           P     P    P         P       P

### 위치로 값 바꿔주기

In [44]:
iphone_df.iloc[[1,3], [1,4]]

              디스플레이 Face ID
iPhone 7 Plus     P       P
iPhone 8 Plus     P       P

In [45]:
iphone_df.iloc[[1,3], [1,4]] ='v'
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No
iPhone 7 Plus           P     v    P         P       v
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No
iPhone 8 Plus           P     v    P         P       v
iPhone X                P     P    P         P       P
iPhone XS               P     P    P         P       P
iPhone XS Max           P     P    P         P       P

## DataFrame에 값 추가/삭제
### 새로운 행/열에 값 추가하기

In [4]:
# 행 추가
iphone_df.loc['iPhone XR'] =['2018-10-26', '6.1', '3GB', 'iOS 12.0.1', 'Yes']

In [5]:
iphone_df

                      출시일 디스플레이  메모리       출시 버전 Face ID
iPhone 7       2016-09-16   4.7  2GB    iOS 10.0      No
iPhone 7 Plus  2016-09-16   5.5  3GB    iOS 10.0      No
iPhone 8       2017-09-22   4.7  2GB    iOS 11.0      No
iPhone 8 Plus  2017-09-22   5.5  3GB    iOS 11.0      No
iPhone X       2017-11-03   5.8  3GB    iOS 11.1     Yes
iPhone XS      2018-09-21   5.8  4GB    iOS 12.0     Yes
iPhone XS Max  2018-09-21   6.5  4GB    iOS 12.0     Yes
iPhone XR      2018-10-26   6.1  3GB  iOS 12.0.1     Yes

In [6]:
# 열 추가
iphone_df['제조사'] = 'Apple'
iphone_df

                      출시일 디스플레이  메모리       출시 버전 Face ID    제조사
iPhone 7       2016-09-16   4.7  2GB    iOS 10.0      No  Apple
iPhone 7 Plus  2016-09-16   5.5  3GB    iOS 10.0      No  Apple
iPhone 8       2017-09-22   4.7  2GB    iOS 11.0      No  Apple
iPhone 8 Plus  2017-09-22   5.5  3GB    iOS 11.0      No  Apple
iPhone X       2017-11-03   5.8  3GB    iOS 11.1     Yes  Apple
iPhone XS      2018-09-21   5.8  4GB    iOS 12.0     Yes  Apple
iPhone XS Max  2018-09-21   6.5  4GB    iOS 12.0     Yes  Apple
iPhone XR      2018-10-26   6.1  3GB  iOS 12.0.1     Yes  Apple

### 행/열 삭제하기

In [7]:
# 행삭제
iphone_df.drop('iPhone XR', axis = 'index', inplace=False)

                      출시일 디스플레이  메모리     출시 버전 Face ID    제조사
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No  Apple
iPhone 7 Plus  2016-09-16   5.5  3GB  iOS 10.0      No  Apple
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No  Apple
iPhone 8 Plus  2017-09-22   5.5  3GB  iOS 11.0      No  Apple
iPhone X       2017-11-03   5.8  3GB  iOS 11.1     Yes  Apple
iPhone XS      2018-09-21   5.8  4GB  iOS 12.0     Yes  Apple
iPhone XS Max  2018-09-21   6.5  4GB  iOS 12.0     Yes  Apple

In [8]:
# inplace = 'false'로 했기 때문에 기존 iphone_df는 영향받지 않는다. 
iphone_df

                      출시일 디스플레이  메모리       출시 버전 Face ID    제조사
iPhone 7       2016-09-16   4.7  2GB    iOS 10.0      No  Apple
iPhone 7 Plus  2016-09-16   5.5  3GB    iOS 10.0      No  Apple
iPhone 8       2017-09-22   4.7  2GB    iOS 11.0      No  Apple
iPhone 8 Plus  2017-09-22   5.5  3GB    iOS 11.0      No  Apple
iPhone X       2017-11-03   5.8  3GB    iOS 11.1     Yes  Apple
iPhone XS      2018-09-21   5.8  4GB    iOS 12.0     Yes  Apple
iPhone XS Max  2018-09-21   6.5  4GB    iOS 12.0     Yes  Apple
iPhone XR      2018-10-26   6.1  3GB  iOS 12.0.1     Yes  Apple

In [9]:
iphone_df.drop('iPhone XR', axis = 'index', inplace=True) # inplace= True: 변경내용 반영햐여 새로 저장
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID    제조사
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No  Apple
iPhone 7 Plus  2016-09-16   5.5  3GB  iOS 10.0      No  Apple
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No  Apple
iPhone 8 Plus  2017-09-22   5.5  3GB  iOS 11.0      No  Apple
iPhone X       2017-11-03   5.8  3GB  iOS 11.1     Yes  Apple
iPhone XS      2018-09-21   5.8  4GB  iOS 12.0     Yes  Apple
iPhone XS Max  2018-09-21   6.5  4GB  iOS 12.0     Yes  Apple

In [11]:
# 열삭제
iphone_df.drop('제조사', axis = 'columns', inplace = True)

In [12]:
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16   5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22   5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03   5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21   5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21   6.5  4GB  iOS 12.0     Yes

In [14]:
# 여러행삭제하기 : 리스트로 행 이름 묶기
iphone_df.drop(['iPhone 7', 'iPhone 8', 'iPhone X'], axis = 'index', inplace=False)

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7 Plus  2016-09-16   5.5  3GB  iOS 10.0      No
iPhone 8 Plus  2017-09-22   5.5  3GB  iOS 11.0      No
iPhone XS      2018-09-21   5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21   6.5  4GB  iOS 12.0     Yes

In [22]:
# 위치로 인덱싱하기 : 인덱스 이름만 위치로 불러올수 있게 df.inxde활용
iphone_df.drop(iphone_df.index[[0,2,4]], axis = 'index', inplace = False)

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7 Plus  2016-09-16   5.5  3GB  iOS 10.0      No
iPhone 8 Plus  2017-09-22   5.5  3GB  iOS 11.0      No
iPhone XS      2018-09-21   5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21   6.5  4GB  iOS 12.0     Yes