# Data Frame 인덱싱

In [37]:
import pandas as pd

In [38]:
iphone_df = pd.read_csv('../../../../../Downloads/iphone.csv', index_col=0)
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

## 로우와 컬럼의 이름으로 가져오기(라벨 인덱싱 loc)
### 인덱싱
* .loc['행이름','열이름']

In [3]:
iphone_df.loc['iPhone 8','메모리']

'2GB'

* 하나의 row 이름 : 행 전체 가져오기

In [4]:
iphone_df.loc['iPhone X', :]

출시일        2017-11-03
디스플레이             5.8
메모리               3GB
출시 버전        iOS 11.1
Face ID           Yes
Name: iPhone X, dtype: object

In [5]:
iphone_df.loc['iPhone X']

출시일        2017-11-03
디스플레이             5.8
메모리               3GB
출시 버전        iOS 11.1
Face ID           Yes
Name: iPhone X, dtype: object

In [12]:
type(iphone_df.loc['iPhone X'])

pandas.core.series.Series

* 하나의 colum 이름: 컬럼 전체 가져오기

In [47]:
#기본형태
iphone_df.loc[:,'출시일']

iPhone 7         2016-09-16
iPhone 7 Plus    2016-09-16
iPhone 8         2017-09-22
iPhone 8 Plus    2017-09-22
iPhone X         2017-11-03
iPhone XS        2018-09-21
iPhone XS Max    2018-09-21
Name: 출시일, dtype: object

* loc없이 컬럼명을 바로 인덱싱할 수 있다.  
  df.loc[:"col1"])의 단축형 -> df["col1"]

In [48]:
#단축 형태
iphone_df['출시일']

iPhone 7         2016-09-16
iPhone 7 Plus    2016-09-16
iPhone 8         2017-09-22
iPhone 8 Plus    2017-09-22
iPhone X         2017-11-03
iPhone XS        2018-09-21
iPhone XS Max    2018-09-21
Name: 출시일, dtype: object

In [13]:
type(iphone_df['출시일'])

# 인덱스 없이 값들만 가져오는 시리즈형태로 반환된다.

pandas.core.series.Series

* 여러 행 또는 열 가져오기 : 여러개의 로우 또는 컬럼명을 리스트로 넣어준다.

In [49]:
# row이름의 리스트
iphone_df.loc[['iPhone X', 'iPhone 7']]

                 출시일  디스플레이  메모리     출시 버전 Face ID
iPhone X  2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone 7  2016-09-16    4.7  2GB  iOS 10.0      No

In [51]:
# column이름의 리스트 
iphone_df.loc[:,['출시일','메모리']]

                      출시일  메모리
iPhone 7       2016-09-16  2GB
iPhone 7 Plus  2016-09-16  3GB
iPhone 8       2017-09-22  2GB
iPhone 8 Plus  2017-09-22  3GB
iPhone X       2017-11-03  3GB
iPhone XS      2018-09-21  4GB
iPhone XS Max  2018-09-21  4GB

In [52]:
# column이름의 리스트 단축형
iphone_df[['출시일','메모리']]

                      출시일  메모리
iPhone 7       2016-09-16  2GB
iPhone 7 Plus  2016-09-16  3GB
iPhone 8       2017-09-22  2GB
iPhone 8 Plus  2017-09-22  3GB
iPhone X       2017-11-03  3GB
iPhone XS      2018-09-21  4GB
iPhone XS Max  2018-09-21  4GB

### 슬라이싱
이름으로 슬라이싱 할 때는 지정한 곳 까지 전부 출력된다. (이전 행까지 아님. 지정행 포함) 
* 행 슬라이싱

In [53]:
#기본형 : df.loc["row2":"row5"]
iphone_df.loc['iPhone 8': 'iPhone XS']

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes

In [54]:
# 단축형 : df["row2":"row5"]
iphone_df['iPhone 8': 'iPhone XS']

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes

* 열 슬라이싱

In [55]:
#loc 없이는 불가능하다. 단축형 없음
iphone_df['출시일':'메모리']

Empty DataFrame
Columns: [출시일, 디스플레이, 메모리, 출시 버전, Face ID]
Index: []

In [21]:
iphone_df.loc[:,'출시일':'메모리']

                      출시일  디스플레이  메모리
iPhone 7       2016-09-16    4.7  2GB
iPhone 7 Plus  2016-09-16    5.5  3GB
iPhone 8       2017-09-22    4.7  2GB
iPhone 8 Plus  2017-09-22    5.5  3GB
iPhone X       2017-11-03    5.8  3GB
iPhone XS      2018-09-21    5.8  4GB
iPhone XS Max  2018-09-21    6.5  4GB

## DataFrame 조건으로 인덱싱
### 불린리스트 직접입력
행,열 갯수에 맞는 리스트 요소를 모두 적어줘야한다.

In [22]:
iphone_df.loc[[True,False,True,True,False,True,False]] #0,2,3,5 번 행만 반환

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes

In [32]:
iphone_df[[True,False,True,True,False,True,False]] #loc없이 가능

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes

In [24]:
iphone_df.loc[:,[True,False,False,True,True]]

                      출시일     출시 버전 Face ID
iPhone 7       2016-09-16  iOS 10.0      No
iPhone 7 Plus  2016-09-16  iOS 10.0      No
iPhone 8       2017-09-22  iOS 11.0      No
iPhone 8 Plus  2017-09-22  iOS 11.0      No
iPhone X       2017-11-03  iOS 11.1     Yes
iPhone XS      2018-09-21  iOS 12.0     Yes
iPhone XS Max  2018-09-21  iOS 12.0     Yes

In [34]:
iphone_df[:,[True,False,False,True,True]] #loc없이 불가능

TypeError: '(slice(None, None, None), [True, False, False, True, True])' is an invalid key

### 결과를 불린으로 나타낼수 있는 조건 입력

In [25]:
iphone_df['디스플레이']>5
# 디스플레이 열에서, 값이 5 이상인지 여부가 시리즈로 반환된다.

iPhone 7         False
iPhone 7 Plus     True
iPhone 8         False
iPhone 8 Plus     True
iPhone X          True
iPhone XS         True
iPhone XS Max     True
Name: 디스플레이, dtype: bool

In [36]:
# 인덱스에 대한 T/F가 반환되므로 이 조건문을 불린결과 대신 입력할 수 있다. 
iphone_df.loc[iphone_df['디스플레이']>5]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [26]:
#loc없이 가능 
iphone_df[iphone_df['디스플레이']>5]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

## DataFrame 위치로 인덱싱하기
* iloc : integer-location
* df.iloc[행번호, 열번호]

In [39]:
iphone_df.iloc[2,4]

'No'

In [40]:
# 여러 값 가져오기 : 로우리스트, 컬럼리스트
iphone_df.iloc[[1,3],[1,4]]

               디스플레이 Face ID
iPhone 7 Plus    5.5      No
iPhone 8 Plus    5.5      No

In [41]:
#연속된 인덱싱
iphone_df.iloc[3:, 1:4]

               디스플레이  메모리     출시 버전
iPhone 8 Plus    5.5  3GB  iOS 11.0
iPhone X         5.8  3GB  iOS 11.1
iPhone XS        5.8  4GB  iOS 12.0
iPhone XS Max    6.5  4GB  iOS 12.0

In [43]:
# 행만 가져오기
iphone_df.iloc[2]

출시일        2017-09-22
디스플레이             4.7
메모리               2GB
출시 버전        iOS 11.0
Face ID            No
Name: iPhone 8, dtype: object

In [44]:
#행 슬라이싱
iphone_df.iloc[2:5]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes

* loc, iloc모두 슬라이싱에서는 행 슬라이싱만 단축 가능하다.

In [45]:
# 행 슬라이싱 단축: iloc생략
iphone_df[2:5]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes