# Data Frame 인덱싱

In [1]:
import pandas as pd

In [2]:
iphone_df = pd.read_csv('../../../../../Downloads/iphone.csv', index_col=0)
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [2]:
#iphone_df = pd.read_csv('../../../../Downloads/iphone.csv', index_col=0)
#iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

## 로우와 컬럼의 이름으로 가져오기(라벨 인덱싱 loc)
### 인덱싱
* .loc['행이름','열이름']

In [3]:
iphone_df.loc['iPhone 8','메모리']

'2GB'

* 하나의 row 이름 : 행 전체 가져오기

In [4]:
iphone_df.loc['iPhone X', :]

출시일        2017-11-03
디스플레이             5.8
메모리               3GB
출시 버전        iOS 11.1
Face ID           Yes
Name: iPhone X, dtype: object

In [5]:
iphone_df.loc['iPhone X']

출시일        2017-11-03
디스플레이             5.8
메모리               3GB
출시 버전        iOS 11.1
Face ID           Yes
Name: iPhone X, dtype: object

In [12]:
type(iphone_df.loc['iPhone X'])

pandas.core.series.Series

* 하나의 colum 이름: 컬럼 전체 가져오기

In [47]:
#기본형태
iphone_df.loc[:,'출시일']

iPhone 7         2016-09-16
iPhone 7 Plus    2016-09-16
iPhone 8         2017-09-22
iPhone 8 Plus    2017-09-22
iPhone X         2017-11-03
iPhone XS        2018-09-21
iPhone XS Max    2018-09-21
Name: 출시일, dtype: object

* loc없이 컬럼명을 바로 인덱싱할 수 있다.  
  df.loc[:"col1"])의 단축형 -> df["col1"]

In [48]:
#단축 형태
iphone_df['출시일']

iPhone 7         2016-09-16
iPhone 7 Plus    2016-09-16
iPhone 8         2017-09-22
iPhone 8 Plus    2017-09-22
iPhone X         2017-11-03
iPhone XS        2018-09-21
iPhone XS Max    2018-09-21
Name: 출시일, dtype: object

In [13]:
type(iphone_df['출시일'])

# 인덱스 없이 값들만 가져오는 시리즈형태로 반환된다.

pandas.core.series.Series

* 여러 행 또는 열 가져오기 : 여러개의 로우 또는 컬럼명을 리스트로 넣어준다.

In [49]:
# row이름의 리스트
iphone_df.loc[['iPhone X', 'iPhone 7']]

                 출시일  디스플레이  메모리     출시 버전 Face ID
iPhone X  2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone 7  2016-09-16    4.7  2GB  iOS 10.0      No

In [51]:
# column이름의 리스트 
iphone_df.loc[:,['출시일','메모리']]

                      출시일  메모리
iPhone 7       2016-09-16  2GB
iPhone 7 Plus  2016-09-16  3GB
iPhone 8       2017-09-22  2GB
iPhone 8 Plus  2017-09-22  3GB
iPhone X       2017-11-03  3GB
iPhone XS      2018-09-21  4GB
iPhone XS Max  2018-09-21  4GB

In [52]:
# column이름의 리스트 단축형
iphone_df[['출시일','메모리']]

                      출시일  메모리
iPhone 7       2016-09-16  2GB
iPhone 7 Plus  2016-09-16  3GB
iPhone 8       2017-09-22  2GB
iPhone 8 Plus  2017-09-22  3GB
iPhone X       2017-11-03  3GB
iPhone XS      2018-09-21  4GB
iPhone XS Max  2018-09-21  4GB

### 슬라이싱
이름으로 슬라이싱 할 때는 지정한 곳 까지 전부 출력된다. (이전 행까지 아님. 지정행 포함) 
* 행 슬라이싱

In [53]:
#기본형 : df.loc["row2":"row5"]
iphone_df.loc['iPhone 8': 'iPhone XS']

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes

In [54]:
# 단축형 : df["row2":"row5"]
iphone_df['iPhone 8': 'iPhone XS']

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes

* 열 슬라이싱

In [55]:
#loc 없이는 불가능하다. 단축형 없음
iphone_df['출시일':'메모리']

Empty DataFrame
Columns: [출시일, 디스플레이, 메모리, 출시 버전, Face ID]
Index: []

In [21]:
iphone_df.loc[:,'출시일':'메모리']

                      출시일  디스플레이  메모리
iPhone 7       2016-09-16    4.7  2GB
iPhone 7 Plus  2016-09-16    5.5  3GB
iPhone 8       2017-09-22    4.7  2GB
iPhone 8 Plus  2017-09-22    5.5  3GB
iPhone X       2017-11-03    5.8  3GB
iPhone XS      2018-09-21    5.8  4GB
iPhone XS Max  2018-09-21    6.5  4GB

## DataFrame 조건으로 인덱싱
### 불린리스트 직접입력
행,열 갯수에 맞는 리스트 요소를 모두 적어줘야한다.

In [22]:
iphone_df.loc[[True,False,True,True,False,True,False]] #0,2,3,5 번 행만 반환

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes

In [32]:
iphone_df[[True,False,True,True,False,True,False]] #loc없이 가능

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes

In [24]:
iphone_df.loc[:,[True,False,False,True,True]]

                      출시일     출시 버전 Face ID
iPhone 7       2016-09-16  iOS 10.0      No
iPhone 7 Plus  2016-09-16  iOS 10.0      No
iPhone 8       2017-09-22  iOS 11.0      No
iPhone 8 Plus  2017-09-22  iOS 11.0      No
iPhone X       2017-11-03  iOS 11.1     Yes
iPhone XS      2018-09-21  iOS 12.0     Yes
iPhone XS Max  2018-09-21  iOS 12.0     Yes

In [34]:
iphone_df[:,[True,False,False,True,True]] #loc없이 불가능

TypeError: '(slice(None, None, None), [True, False, False, True, True])' is an invalid key

### 결과를 불린으로 나타낼수 있는 조건 입력

In [25]:
iphone_df['디스플레이']>5
# 디스플레이 열에서, 값이 5 이상인지 여부가 시리즈로 반환된다.

iPhone 7         False
iPhone 7 Plus     True
iPhone 8         False
iPhone 8 Plus     True
iPhone X          True
iPhone XS         True
iPhone XS Max     True
Name: 디스플레이, dtype: bool

In [36]:
# 인덱스에 대한 T/F가 반환되므로 이 조건문을 불린결과 대신 입력할 수 있다. 
iphone_df.loc[iphone_df['디스플레이']>5]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [26]:
#loc없이 가능 
iphone_df[iphone_df['디스플레이']>5]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

## DataFrame 위치로 인덱싱하기
* iloc : integer-location
* df.iloc[행번호, 열번호]

In [39]:
iphone_df.iloc[2,4]

'No'

In [40]:
# 여러 값 가져오기 : 로우리스트, 컬럼리스트
iphone_df.iloc[[1,3],[1,4]]

               디스플레이 Face ID
iPhone 7 Plus    5.5      No
iPhone 8 Plus    5.5      No

In [41]:
#연속된 인덱싱
iphone_df.iloc[3:, 1:4]

               디스플레이  메모리     출시 버전
iPhone 8 Plus    5.5  3GB  iOS 11.0
iPhone X         5.8  3GB  iOS 11.1
iPhone XS        5.8  4GB  iOS 12.0
iPhone XS Max    6.5  4GB  iOS 12.0

In [43]:
# 행만 가져오기
iphone_df.iloc[2]

출시일        2017-09-22
디스플레이             4.7
메모리               2GB
출시 버전        iOS 11.0
Face ID            No
Name: iPhone 8, dtype: object

In [44]:
#행 슬라이싱
iphone_df.iloc[2:5]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes

* loc, iloc모두 슬라이싱에서는 행 슬라이싱만 단축 가능하다.

In [5]:
# 행 슬라이싱 단축: iloc생략
iphone_df[2:5]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes

# 데이터 변형하기
## DagaFrame에 값 쓰기1

In [6]:
iphone_df.loc['iPhone 8', '메모리']

'2GB'

### 특정 행,열에 값 쓰기

In [25]:
# 새로운 값을 할당하면 그 값이 새로운 값이 된다. 
iphone_df.loc['iPhone 8', '메모리'] = '2.5BG'

In [26]:
iphone_df

                      출시일  디스플레이    메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7    2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5    3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2.5BG  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5    3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8    3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8    4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5    4GB  iOS 12.0     Yes

In [27]:
iphone_df.loc['iPhone 8', '출시 버전'] = '10.3'

In [28]:
iphone_df

                      출시일  디스플레이    메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7    2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5    3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2.5BG      10.3      No
iPhone 8 Plus  2017-09-22    5.5    3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8    3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8    4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5    4GB  iOS 12.0     Yes

### 한 행, 열을 통째로 바꾸기

In [11]:
iphone_df.loc['iPhone 8']

출시일        2017-09-22
디스플레이             4.7
메모리             2.5BG
출시 버전            10.3
Face ID            No
Name: iPhone 8, dtype: object

In [29]:
iphone_df.loc['iPhone 8'] =['2016-09-22', '4.7', '2GB', 'iOS 11.0', 'No']
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16   5.5  3GB  iOS 10.0      No
iPhone 8       2016-09-22   4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22   5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03   5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21   5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21   6.5  4GB  iOS 12.0     Yes

In [13]:
iphone_df['디스플레이']

iPhone 7         4.7
iPhone 7 Plus    5.5
iPhone 8         4.7
iPhone 8 Plus    5.5
iPhone X         5.8
iPhone XS        5.8
iPhone XS Max    6.5
Name: 디스플레이, dtype: object

In [30]:
iphone_df['디스플레이'] = ['4.7 in', '5.5 in', '4.7 in', '5.5 in', '5.8 in', '5.8 in', '6.5 in']
iphone_df

                      출시일   디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16  4.7 in  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16  5.5 in  3GB  iOS 10.0      No
iPhone 8       2016-09-22  4.7 in  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22  5.5 in  3GB  iOS 11.0      No
iPhone X       2017-11-03  5.8 in  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21  5.8 in  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21  6.5 in  4GB  iOS 12.0     Yes

In [31]:
iphone_df['Face ID']='Yes'
iphone_df

                      출시일   디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16  4.7 in  2GB  iOS 10.0     Yes
iPhone 7 Plus  2016-09-16  5.5 in  3GB  iOS 10.0     Yes
iPhone 8       2016-09-22  4.7 in  2GB  iOS 11.0     Yes
iPhone 8 Plus  2017-09-22  5.5 in  3GB  iOS 11.0     Yes
iPhone X       2017-11-03  5.8 in  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21  5.8 in  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21  6.5 in  4GB  iOS 12.0     Yes

## DagaFrame에 값 쓰기2
### 여러 행, 열을 한번에 바꾸기

In [32]:
# 컬럼 여러개 바꾸기 
iphone_df[['디스플레이','Face ID']]

                디스플레이 Face ID
iPhone 7       4.7 in     Yes
iPhone 7 Plus  5.5 in     Yes
iPhone 8       4.7 in     Yes
iPhone 8 Plus  5.5 in     Yes
iPhone X       5.8 in     Yes
iPhone XS      5.8 in     Yes
iPhone XS Max  6.5 in     Yes

In [33]:
iphone_df[['디스플레이','Face ID']] = 'x'

In [34]:
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16     x  2GB  iOS 10.0       x
iPhone 7 Plus  2016-09-16     x  3GB  iOS 10.0       x
iPhone 8       2016-09-22     x  2GB  iOS 11.0       x
iPhone 8 Plus  2017-09-22     x  3GB  iOS 11.0       x
iPhone X       2017-11-03     x  3GB  iOS 11.1       x
iPhone XS      2018-09-21     x  4GB  iOS 12.0       x
iPhone XS Max  2018-09-21     x  4GB  iOS 12.0       x

In [35]:
# 행 여러개 바꾸기 
iphone_df.loc[['iPhone 7', 'iPhone X']]

                 출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7  2016-09-16     x  2GB  iOS 10.0       x
iPhone X  2017-11-03     x  3GB  iOS 11.1       x

In [36]:
iphone_df.loc[['iPhone 7', 'iPhone X']] = 'o'
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7                o     o    o         o       o
iPhone 7 Plus  2016-09-16     x  3GB  iOS 10.0       x
iPhone 8       2016-09-22     x  2GB  iOS 11.0       x
iPhone 8 Plus  2017-09-22     x  3GB  iOS 11.0       x
iPhone X                o     o    o         o       o
iPhone XS      2018-09-21     x  4GB  iOS 12.0       x
iPhone XS Max  2018-09-21     x  4GB  iOS 12.0       x

In [37]:
# 행 슬라이싱하여 범위 모두 바꾸기 
iphone_df['iPhone 7': 'iPhone X' ]

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7                o     o    o         o       o
iPhone 7 Plus  2016-09-16     x  3GB  iOS 10.0       x
iPhone 8       2016-09-22     x  2GB  iOS 11.0       x
iPhone 8 Plus  2017-09-22     x  3GB  iOS 11.0       x
iPhone X                o     o    o         o       o

In [38]:
iphone_df['iPhone 7': 'iPhone X' ] = 'o'
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7                o     o    o         o       o
iPhone 7 Plus           o     o    o         o       o
iPhone 8                o     o    o         o       o
iPhone 8 Plus           o     o    o         o       o
iPhone X                o     o    o         o       o
iPhone XS      2018-09-21     x  4GB  iOS 12.0       x
iPhone XS Max  2018-09-21     x  4GB  iOS 12.0       x

### 조건으로 인덱싱하여 한번에 바꾸기

In [40]:
iphone_df['디스플레이'] >5

iPhone 7         False
iPhone 7 Plus     True
iPhone 8         False
iPhone 8 Plus     True
iPhone X          True
iPhone XS         True
iPhone XS Max     True
Name: 디스플레이, dtype: bool

In [41]:
iphone_df.loc[iphone_df['디스플레이'] >5]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [43]:
iphone_df.loc[iphone_df['디스플레이'] >5] = 'P'
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No
iPhone 7 Plus           P     P    P         P       P
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No
iPhone 8 Plus           P     P    P         P       P
iPhone X                P     P    P         P       P
iPhone XS               P     P    P         P       P
iPhone XS Max           P     P    P         P       P

### 위치로 값 바꿔주기

In [44]:
iphone_df.iloc[[1,3], [1,4]]

              디스플레이 Face ID
iPhone 7 Plus     P       P
iPhone 8 Plus     P       P

In [45]:
iphone_df.iloc[[1,3], [1,4]] ='v'
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No
iPhone 7 Plus           P     v    P         P       v
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No
iPhone 8 Plus           P     v    P         P       v
iPhone X                P     P    P         P       P
iPhone XS               P     P    P         P       P
iPhone XS Max           P     P    P         P       P

## DataFrame에 값 추가/삭제
### 새로운 행/열에 값 추가하기

In [4]:
# 행 추가
iphone_df.loc['iPhone XR'] =['2018-10-26', '6.1', '3GB', 'iOS 12.0.1', 'Yes']

In [5]:
iphone_df

                      출시일 디스플레이  메모리       출시 버전 Face ID
iPhone 7       2016-09-16   4.7  2GB    iOS 10.0      No
iPhone 7 Plus  2016-09-16   5.5  3GB    iOS 10.0      No
iPhone 8       2017-09-22   4.7  2GB    iOS 11.0      No
iPhone 8 Plus  2017-09-22   5.5  3GB    iOS 11.0      No
iPhone X       2017-11-03   5.8  3GB    iOS 11.1     Yes
iPhone XS      2018-09-21   5.8  4GB    iOS 12.0     Yes
iPhone XS Max  2018-09-21   6.5  4GB    iOS 12.0     Yes
iPhone XR      2018-10-26   6.1  3GB  iOS 12.0.1     Yes

In [6]:
# 열 추가
iphone_df['제조사'] = 'Apple'
iphone_df

                      출시일 디스플레이  메모리       출시 버전 Face ID    제조사
iPhone 7       2016-09-16   4.7  2GB    iOS 10.0      No  Apple
iPhone 7 Plus  2016-09-16   5.5  3GB    iOS 10.0      No  Apple
iPhone 8       2017-09-22   4.7  2GB    iOS 11.0      No  Apple
iPhone 8 Plus  2017-09-22   5.5  3GB    iOS 11.0      No  Apple
iPhone X       2017-11-03   5.8  3GB    iOS 11.1     Yes  Apple
iPhone XS      2018-09-21   5.8  4GB    iOS 12.0     Yes  Apple
iPhone XS Max  2018-09-21   6.5  4GB    iOS 12.0     Yes  Apple
iPhone XR      2018-10-26   6.1  3GB  iOS 12.0.1     Yes  Apple

### 행/열 삭제하기

In [7]:
# 행삭제
iphone_df.drop('iPhone XR', axis = 'index', inplace=False)

                      출시일 디스플레이  메모리     출시 버전 Face ID    제조사
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No  Apple
iPhone 7 Plus  2016-09-16   5.5  3GB  iOS 10.0      No  Apple
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No  Apple
iPhone 8 Plus  2017-09-22   5.5  3GB  iOS 11.0      No  Apple
iPhone X       2017-11-03   5.8  3GB  iOS 11.1     Yes  Apple
iPhone XS      2018-09-21   5.8  4GB  iOS 12.0     Yes  Apple
iPhone XS Max  2018-09-21   6.5  4GB  iOS 12.0     Yes  Apple

In [8]:
# inplace = 'false'로 했기 때문에 기존 iphone_df는 영향받지 않는다. 
iphone_df

                      출시일 디스플레이  메모리       출시 버전 Face ID    제조사
iPhone 7       2016-09-16   4.7  2GB    iOS 10.0      No  Apple
iPhone 7 Plus  2016-09-16   5.5  3GB    iOS 10.0      No  Apple
iPhone 8       2017-09-22   4.7  2GB    iOS 11.0      No  Apple
iPhone 8 Plus  2017-09-22   5.5  3GB    iOS 11.0      No  Apple
iPhone X       2017-11-03   5.8  3GB    iOS 11.1     Yes  Apple
iPhone XS      2018-09-21   5.8  4GB    iOS 12.0     Yes  Apple
iPhone XS Max  2018-09-21   6.5  4GB    iOS 12.0     Yes  Apple
iPhone XR      2018-10-26   6.1  3GB  iOS 12.0.1     Yes  Apple

In [9]:
iphone_df.drop('iPhone XR', axis = 'index', inplace=True) # inplace= True: 변경내용 반영햐여 새로 저장
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID    제조사
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No  Apple
iPhone 7 Plus  2016-09-16   5.5  3GB  iOS 10.0      No  Apple
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No  Apple
iPhone 8 Plus  2017-09-22   5.5  3GB  iOS 11.0      No  Apple
iPhone X       2017-11-03   5.8  3GB  iOS 11.1     Yes  Apple
iPhone XS      2018-09-21   5.8  4GB  iOS 12.0     Yes  Apple
iPhone XS Max  2018-09-21   6.5  4GB  iOS 12.0     Yes  Apple

In [11]:
# 열삭제
iphone_df.drop('제조사', axis = 'columns', inplace = True)

In [12]:
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16   5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22   5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03   5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21   5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21   6.5  4GB  iOS 12.0     Yes

In [14]:
# 여러행삭제하기 : 리스트로 행 이름 묶기
iphone_df.drop(['iPhone 7', 'iPhone 8', 'iPhone X'], axis = 'index', inplace=False)

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7 Plus  2016-09-16   5.5  3GB  iOS 10.0      No
iPhone 8 Plus  2017-09-22   5.5  3GB  iOS 11.0      No
iPhone XS      2018-09-21   5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21   6.5  4GB  iOS 12.0     Yes

In [22]:
# 위치로 인덱싱하여 삭제하기 : 인덱스 이름만 위치로 불러올수 있게 df.index활용
iphone_df.drop(iphone_df.index[[0,2,4]], axis = 'index', inplace = False)

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7 Plus  2016-09-16   5.5  3GB  iOS 10.0      No
iPhone 8 Plus  2017-09-22   5.5  3GB  iOS 11.0      No
iPhone XS      2018-09-21   5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21   6.5  4GB  iOS 12.0     Yes

## index/column 설정하기

In [4]:
liverpool_df = pd.read_csv('../../../../../Downloads/liverpool.csv',index_col=0)

In [5]:
liverpool_df

                position  born  number nationality
Roberto Firmino       FW  1991   no. 9      Brazil
Sadio Mane            FW  1992  no. 10     Senegal
Mohamed Salah         FW  1992  no. 11       Egypt
Joe Gomez             DF  1997  no. 12     England
Alisson Becker        GK  1992  no. 13      Brazil

### column 이름 바꾸기

In [8]:
liverpool_df.rename(columns={'position':'Position', 'born':'Born','number':'Number', 'nationality': 'Nationality'},inplace= True)

In [9]:
liverpool_df

                Position  Born  Number Nationality
Roberto Firmino       FW  1991   no. 9      Brazil
Sadio Mane            FW  1992  no. 10     Senegal
Mohamed Salah         FW  1992  no. 11       Egypt
Joe Gomez             DF  1997  no. 12     England
Alisson Becker        GK  1992  no. 13      Brazil

###  index 명 지정하기

In [13]:
liverpool_df.index.name = 'Player Name'

In [14]:
liverpool_df

                Position  Born  Number Nationality
Player Name
Roberto Firmino       FW  1991   no. 9      Brazil
Sadio Mane            FW  1992  no. 10     Senegal
Mohamed Salah         FW  1992  no. 11       Egypt
Joe Gomez             DF  1997  no. 12     England
Alisson Becker        GK  1992  no. 13      Brazil

### index 바꾸기

In [15]:
liverpool_df.set_index('Number') 
# 단, 기존 인덱스 데이터는 사라진다. (inplace = True 하지 않으면, 별수를 새롭게 저장하진 않음)

       Position  Born Nationality
Number
no. 9        FW  1991      Brazil
no. 10       FW  1992     Senegal
no. 11       FW  1992       Egypt
no. 12       DF  1997     England
no. 13       GK  1992      Brazil

In [17]:
liverpool_df.index

Index(['Roberto Firmino', 'Sadio Mane', 'Mohamed Salah', 'Joe Gomez',
       'Alisson Becker'],
      dtype='object', name='Player Name')

In [18]:
liverpool_df['Player Name'] = liverpool_df.index

In [19]:
liverpool_df

                Position  Born  Number Nationality      Player Name
Player Name
Roberto Firmino       FW  1991   no. 9      Brazil  Roberto Firmino
Sadio Mane            FW  1992  no. 10     Senegal       Sadio Mane
Mohamed Salah         FW  1992  no. 11       Egypt    Mohamed Salah
Joe Gomez             DF  1997  no. 12     England        Joe Gomez
Alisson Becker        GK  1992  no. 13      Brazil   Alisson Becker

In [20]:
liverpool_df.set_index('Number', inplace= True) 
liverpool_df

       Position  Born Nationality      Player Name
Number
no. 9        FW  1991      Brazil  Roberto Firmino
no. 10       FW  1992     Senegal       Sadio Mane
no. 11       FW  1992       Egypt    Mohamed Salah
no. 12       DF  1997     England        Joe Gomez
no. 13       GK  1992      Brazil   Alisson Becker

# 큰 데이터 다루기
## 큰 DataFrame 살펴보기

In [23]:
laptop_df = pd.read_csv('../../../../../Downloads/laptops.csv',index_col=0)

In [24]:
laptop_df

,model,ram,hd_type,hd_size,screen_size,price,processor_brand,processor_model,clock_speed,graphic_card_brand,graphic_card_size,os,weight,comments
brand,,,,,,,,,,,,,,
Dell,Inspiron 15-3567,4,hdd,1024,15.6,40000,intel,i5,2.5,intel,NaN,linux,2.50,NaN
Apple,MacBook Air,8,ssd,128,13.3,55499,intel,i5,1.8,intel,2.0,mac,1.35,NaN
Apple,MacBook Air,8,ssd,256,13.3,71500,intel,i5,1.8,intel,2.0,mac,1.35,NaN
Apple,MacBook Pro,8,ssd,128,13.3,96890,intel,i5,2.3,intel,2.0,mac,3.02,NaN
Apple,MacBook Pro,8,ssd,256,13.3,112666,intel,i5,2.3,intel,2.0,mac,3.02,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Asus,A555LF,8,hdd,1024,15.6,39961,intel,i3 4th gen,1.7,nvidia,2.0,windows,2.30,NaN
Asus,X555LA-XX172D,4,hdd,500,15.6,28489,intel,i3 4th gen,1.9,intel,NaN,linux,2.30,NaN
Asus,X554LD,2,hdd,500,15.6,29199,intel,i3 4th gen,1.9,intel,1.0,linux,2.30,NaN
Asus,X550LAV-XX771D,2,hdd,500,15.6,29990,intel,i3 4th gen,1.7,intel,NaN,linux,2.50,NaN
Asus,X540LA-XX538T,4,hdd,1024,15.6,30899,intel,i3 5th gen,2.0,intel,NaN,windows,2.30,NaN

### head(n): 상위 n행 출력

In [25]:
laptop_df.head(10)

,model,ram,hd_type,hd_size,screen_size,price,processor_brand,processor_model,clock_speed,graphic_card_brand,graphic_card_size,os,weight,comments
brand,,,,,,,,,,,,,,
Dell,Inspiron 15-3567,4,hdd,1024,15.6,40000,intel,i5,2.5,intel,NaN,linux,2.50,NaN
Apple,MacBook Air,8,ssd,128,13.3,55499,intel,i5,1.8,intel,2.0,mac,1.35,NaN
Apple,MacBook Air,8,ssd,256,13.3,71500,intel,i5,1.8,intel,2.0,mac,1.35,NaN
Apple,MacBook Pro,8,ssd,128,13.3,96890,intel,i5,2.3,intel,2.0,mac,3.02,NaN
Apple,MacBook Pro,8,ssd,256,13.3,112666,intel,i5,2.3,intel,2.0,mac,3.02,NaN
Apple,MacBook Pro (TouchBar),16,ssd,512,15.0,226000,intel,i7,2.7,intel,2.0,mac,2.50,NaN
Apple,MacBook Pro (TouchBar),16,ssd,512,13.3,158000,intel,i5,2.9,intel,2.0,mac,1.37,NaN
Apple,MacBook,8,ssd,256,12.0,96990,intel,core m,1.2,intel,2.0,mac,0.92,NaN
Dell,Vostro 3468,4,hdd,1024,14.0,33225,intel,i3,2.4,intel,NaN,linux,1.76,Integrated Graphics
Dell,Inspiron 15.6 3552,4,hdd,500,15.0,21990,intel,pentium N3710,1.6,intel,NaN,linux,2.19,Integrated Graphics

### tail(n): 하위 n행 출력

In [26]:
laptop_df.tail(4)

,model,ram,hd_type,hd_size,screen_size,price,processor_brand,processor_model,clock_speed,graphic_card_brand,graphic_card_size,os,weight,comments
brand,,,,,,,,,,,,,,
Asus,X555LA-XX172D,4,hdd,500,15.6,28489,intel,i3 4th gen,1.9,intel,NaN,linux,2.3,NaN
Asus,X554LD,2,hdd,500,15.6,29199,intel,i3 4th gen,1.9,intel,1.0,linux,2.3,NaN
Asus,X550LAV-XX771D,2,hdd,500,15.6,29990,intel,i3 4th gen,1.7,intel,NaN,linux,2.5,NaN
Asus,X540LA-XX538T,4,hdd,1024,15.6,30899,intel,i3 5th gen,2.0,intel,NaN,windows,2.3,NaN

### shape : DataFrame 크기 출력

In [27]:
laptop_df.shape

(167, 14)

### columns : DataFrame 열 출력

In [28]:
laptop_df.columns

Index(['model', 'ram', 'hd_type', 'hd_size', 'screen_size', 'price',
       'processor_brand', 'processor_model', 'clock_speed',
       'graphic_card_brand', 'graphic_card_size', 'os', 'weight', 'comments'],
      dtype='object')

### info(): column 기본정보

In [30]:
laptop_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 167 entries, Dell to Asus
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   model               167 non-null    object
 1   ram                 167 non-null    int64
 2   hd_type             167 non-null    object
 3   hd_size             167 non-null    int64
 4   screen_size         167 non-null    float64
 5   price               167 non-null    int64
 6   processor_brand     167 non-null    object
 7   processor_model     167 non-null    object
 8   clock_speed         166 non-null    float64
 9   graphic_card_brand  163 non-null    object
 10  graphic_card_size   81 non-null     float64
 11  os                  167 non-null    object
 12  weight              160 non-null    float64
 13  comments            55 non-null     object
dtypes: float64(4), int64(3), object(7)
memory usage: 24.6+ KB

### describes(): DF의 통계정보

In [31]:
laptop_df.describe()

,ram,hd_size,screen_size,price,clock_speed,graphic_card_size,weight
count,167.000000,167.00000,167.000000,167.000000,166.000000,81.000000,160.000000
mean,6.898204,768.91018,14.775210,64132.898204,2.321084,52.160494,2.250812
std,3.787479,392.99080,1.376526,42797.674010,0.554187,444.134142,0.648446
min,2.000000,32.00000,10.100000,13872.000000,1.100000,1.000000,0.780000
25%,4.000000,500.00000,14.000000,35457.500000,1.900000,2.000000,1.900000
50%,8.000000,1024.00000,15.600000,47990.000000,2.300000,2.000000,2.200000
75%,8.000000,1024.00000,15.600000,77494.500000,2.600000,4.000000,2.600000
max,16.000000,2048.00000,17.600000,226000.000000,3.800000,4000.000000,4.200000

### sort_values(): 행 정렬하기

In [32]:
laptop_df.sort_values(by = 'price', ascending=False) #inplace = True하면 저장, 반영

,model,ram,hd_type,hd_size,screen_size,price,processor_brand,processor_model,clock_speed,graphic_card_brand,graphic_card_size,os,weight,comments
brand,,,,,,,,,,,,,,
Apple,MacBook Pro (TouchBar),16,ssd,512,15.0,226000,intel,i7,2.70,intel,2.0,mac,2.5,NaN
Alienware,15 Notebook,16,hdd,1024,15.6,199000,intel,i7,2.60,nvidia,8.0,windows,3.5,Maximum Display Resolution : 1920 x 1080 pixel
Alienware,AW13R3-7000SLV-PUS,8,ssd,256,13.3,190256,intel,i7,3.00,nvidia,6.0,windows,2.6,13.3 inch FHD (1920 x 1080) IPS Anti-Glare 300...
Acer,Predator 17,16,ssd,256,17.3,178912,intel,i7,2.60,nvidia,NaN,windows,4.2,Integrated Graphics
Microsoft,Surface Book CR9-00013,8,ssd,128,13.5,178799,intel,i5,1.80,intel,NaN,windows,1.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Acer,Aspire ES1-523,4,hdd,1024,15.6,19465,amd,A4-7210,1.80,amd,NaN,linux,2.4,NaN
Acer,A315-31-P4CRUN.GNTSI.002,4,hdd,500,15.6,18990,intel,pentium,1.10,intel,NaN,windows,NaN,NaN
Acer,Aspire ES-15 NX.GKYSI.010,4,hdd,500,15.6,17990,amd,A4-7210,1.80,amd,NaN,windows,2.4,NaN
Acer,A315-31CDC UN.GNTSI.001,2,ssd,500,15.6,17990,intel,Celeron,1.10,intel,NaN,windows,2.1,NaN
Acer,Aspire SW3-016,2,ssd,32,10.1,13872,intel,Atom Z8300,1.44,intel,NaN,windows,1.2,NaN

## 큰 Series 살펴보기

In [34]:
laptops_df = pd.read_csv('../../../../../Downloads/laptops.csv')

In [35]:
laptops_df['brand']

0       Dell
1      Apple
2      Apple
3      Apple
4      Apple
       ...
162     Asus
163     Asus
164     Asus
165     Asus
166     Asus
Name: brand, Length: 167, dtype: object

### unique(): 고유값 확인하기

In [36]:
laptops_df['brand'].unique()

array(['Dell', 'Apple', 'Acer', 'HP', 'Lenovo', 'Alienware', 'Microsoft',
       'Asus'], dtype=object)

### value_counts(): 값 별 카운트 확인하기

In [38]:
laptops_df['brand'].value_counts()

HP           55
Acer         35
Dell         31
Lenovo       18
Asus          9
Apple         7
Microsoft     6
Alienware     6
Name: brand, dtype: int64

### describe(): 시리즈 통계 요약

In [39]:
laptops_df['brand'].describe()

count     167
unique      8
top        HP
freq       55
Name: brand, dtype: object

## [실습] 여행지 선정하기 1

In [42]:
world_cities = pd.read_csv('../../../../../Downloads/world_cities.csv', index_col= 0)
world_cities

    City / Urban area     Country  Population  Land area (in sqKm)
0        Buenos Aires   Argentina    11200000                 2266
1           Melbourne   Australia     3162000                 2080
2              Sydney   Australia     3502000                 1687
3            Brisbane   Australia     1508000                 1603
4               Perth   Australia     1177000                  964
..                ...         ...         ...                  ...
245            Canton         USA      267000                  372
246           Spokane         USA      335000                  371
247          Tashkent  Uzbekistan     2200000                  531
248  Ho Chi Minh City     Vietnam     4900000                  518
249            Harare    Zimbabwe     1750000                  712

[249 rows x 4 columns]

### 질문 1
여행을 좋아하는 익중이는 여행지를 알아보고 있습니다. 주어진 데이터에는 총 몇 개의 도시와 몇 개의 나라가 있는지 알아맞혀 보세요.

답안은 도시/나라 형식으로 숫자만 입력해 주세요. (예시: 156/77)

In [44]:
# describe
world_cities.iloc[:,0:2].describe()

       City / Urban area Country
count                249     249
unique               249      61
top              Bangkok     USA
freq                   1     105

In [53]:
#nunique
print(world_cities['City / Urban area'].nunique())
print(world_cities['Country'].nunique())

249
61

In [54]:
#unique
print(world_cities['City / Urban area'].unique().shape)
print(world_cities['Country'].unique().shape)

(249,)
(61,)

In [55]:
#value_counts
print(world_cities['City / Urban area'].value_counts().shape)
print(world_cities['Country'].value_counts().shape)

(249,)
(61,)

### 질문2
사람 만나기를 좋아하는 익중이는 가장 사람이 붐비는 도시로 여행을 가기로 마음 먹었습니다. 주어진 데이터에서, 인구 밀도(명/sqKm) 가 10000 이 넘는 도시는 총 몇 개인지 알아보세요.

참고로 인구 밀도는 인구 수 / 땅의 면적 (in sqKm) 로 구할 수 있습니다.

답안은 숫자로만 입력해 주세요. (예시: 24)

In [66]:
world_cities["Density"] = world_cities['Population']/world_cities['Land area (in sqKm)']

In [68]:
world_cities[world_cities["Density"] > 10000].info() #19

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19 entries, 32 to 129
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City / Urban area    19 non-null     object
 1   Country              19 non-null     object
 2   Population           19 non-null     int64
 3   Land area (in sqKm)  19 non-null     int64
 4   Density              19 non-null     float64
dtypes: float64(1), int64(2), object(2)
memory usage: 912.0+ bytes

### 질문3
이번에는 인구 밀도가 가장 높은 도시를 찾아봅시다.

답안은 데이터에 적힌 이름을 그대로 입력해 주세요. (예시: Seoul)

In [69]:
world_cities.sort_values(by="Density", ascending= False) #Mumbai

    City / Urban area   Country  Population  Land area (in sqKm)       Density
75             Mumbai     India    14350000                  484  29648.760331
74            Kolkata     India    12700000                  531  23917.137476
101           Karachi  Pakistan     9800000                  518  18918.918919
99              Lagos   Nigeria    13400000                  738  18157.181572
34           Shenzhen     China     8000000                  466  17167.381974
..                ...       ...         ...                  ...           ...
195       Chattanooga       USA      344000                  751    458.055925
224         Asheville       USA      222000                  536    414.179104
57                Pau    France      181000                  450    402.222222
221           Hickory       USA      188000                  546    344.322344
197   Barnstable Town       USA      244000                  741    329.284750

[249 rows x 5 columns]

## [실습] 여행지 선정하기2
익중이는 누나에게 여행지를 추천 받으려고 합니다.
그런데 나라 이름이 기억나지 않고, 이 데이터에 4개의 도시가 나왔다는 것만 기억이 난다고 하네요.
이 나라는 무엇일까요?

답안은 데이터에 적힌 이름 그대로 적어 주세요. (예시: France)

In [76]:
city_counts = world_cities['Country'].value_counts()
city_counts[city_counts==4]

Italy    4
Name: Country, dtype: int64